---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TutorialBanner from "@/components/global/TutorialBanner.astro";
---

<BaseLayout>
  <section>
    <TutorialBanner
      tutorialUrl="https://lexingtonthemes.com/tutorials/how-to-create-a-responsive-table-with-tailwind-css/"
      codeUrl="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/table/index.astro"
    />
    <div
      class="relative flex flex-col justify-center w-full p-8 py-24 mx-auto 2xl:max-w-7xl"
    >
      <!-- Starts component -->
      <Wrapper class="py-24 lg:py-48">
        <div class="flow-root">
          <div class="overflow-x-auto">
            <div
              class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8"
            >
              <table class="min-w-full divide-y divide-base-300">
                <thead>
                  <tr>
                    <th
                      scope="col"
                      class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-base-500 sm:pl-0"
                      >Name</th
                    >
                    <th
                      scope="col"
                      class="px-3 py-3.5 text-left text-sm font-semibold text-base-500"
                      >Title</th
                    >
                    <th
                      scope="col"
                      class="px-3 py-3.5 text-left text-sm font-semibold text-base-500"
                      >Status</th
                    >
                    <th
                      scope="col"
                      class="px-3 py-3.5 text-left text-sm font-semibold text-base-500"
                      >Role</th
                    >
                    <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                      <span class="sr-only">Edit</span>
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-base-200">
                  <tr>
                    <td
                      class="py-5 pl-4 pr-3 text-sm whitespace-nowrap sm:pl-0"
                    >
                      <div class="flex items-center">
                        <div class="flex-shrink-0 size-11">
                          <img
                            class="rounded-full size-11"
                            src="/avatars/8.png"
                            alt=""
                          />
                        </div>
                        <div class="ml-4">
                          <div class="font-medium text-black">
                            Michael Andreuzza
                          </div>
                          <div class="mt-1 text-base-500">
                            michael@lexingtonthemes.com
                          </div>
                        </div>
                      </div>
                    </td>
                    <td
                      class="px-3 py-5 text-sm whitespace-nowrap text-base-500"
                    >
                      <div class="text-black">Digital Duct Tape Engineer</div>
                      <div class="mt-1 text-base-500">Optimization</div>
                    </td>
                    <td
                      class="px-3 py-5 text-sm whitespace-nowrap text-base-500"
                    >
                      <span
                        class="inline-flex items-center px-2 py-1 text-xs font-medium rounded-md bg-accent-50 text-accent-500"
                        >Awake (mostly)</span
                      >
                    </td>
                    <td
                      class="px-3 py-5 text-sm whitespace-nowrap text-base-500"
                    >
                      Error Message Translator</td
                    >
                    <td
                      class="relative py-5 pl-3 pr-4 text-sm font-medium text-right whitespace-nowrap sm:pr-0"
                    >
                      <a href="#" class="text-accent-600 hover:text-accent-900"
                        >Edit<span class="sr-only">,Michael Andreuzza</span></a
                      >
                    </td>
                  </tr>

                  <!-- More people... -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </Wrapper>
    </div>
  </section>
</BaseLayout>
