---
import BaseLayout from "@/layouts/BaseLayout.astro"; // Importing a base layout component.
---

<BaseLayout>
  <section>
    <!--- Starts component -->
    <div
      class="fixed z-50 w-full px-3 py-2 transition-all duration-1000 rounded-xl mt-4 inset-x-0 mx-auto ease-in-out transform max-w-2xl header">
      <div
        class="flex flex-col w-full p-2 mx-auto md:items-center md:justify-between md:flex-row">
        <div class="flex flex-row items-center justify-between">
          <span
            class="font-bold tracking-tighter text-black uppercase site-title"
            >✺ Lexington</span
          >
          <button class="md:hidden focus:outline-none nav-toggle">
            <!-- SVG Burger goes here -->
          </button>
        </div>
        <nav
          class="flex-col flex-grow gap-8 hidden pb-4 md:pb-0 md:flex md:flex-row lg:ml-auto justify-end">
          <a
            href="#_"
            class="text-black nav-link"
            >About</a
          >
          <a
            href="#_"
            class="text-black nav-link"
            >Work</a
          >
          <a
            href="#_"
            class="text-black nav-link"
            >Blog</a
          >
        </nav>
      </div>
    </div>
    <!--- Ends component -->
    <div class="bg-white">
      <div class="px-8 py-24 mx-auto md:px-12 lg:px-28 lg:pt-64 text-zinc-500">
        <div
          class="prose text-gray-500 prose-sm prose-headings:font-normal prose-headings:text-xl mx-auto max-w-2xl px-6">
          <div>
            <h1>Adaptable navigation</h1>
            <p class="text-balance">
              Scroll down to see the navigation change its appearance based on
              the scroll position.
            </p>
          </div>
        </div>

        <div class="mt-6 max-w-2xl mx-auto w-full px-6">
          <div class="prose prose-sm 2xl:text-lg text-gray-500 border-t  border-neutral-200  pt-12">
            <p>Brief Facts About Me</p>
            <p>
              In the throbbing heart of London's vibrant streets, amidst the
              colorful tapestry of the 1980s, I drew my first breaths at St
              Thomas’ Hospital Medical School. An intricate blend of European
              heritage defines my roots - my father's lineage tracing back to
              the rolling hills of Italy, while my mother embodies the fiery
              spirit of Spain.
            </p>
            <p>
              My upbringing was a harmonious fusion of the majestic landscapes
              of northern Italy and the sun-drenched shores of southern Spain.
              From the quaint cobblestone streets of Borgosesia, Vercelli,
              Italy, to the majestic coastal cliffs of Gorliz, Bilbao, and the
              tranquil beaches of Torrevieja, Alicante, Spain, my formative
              years were an immersive journey through diverse cultures and
              breathtaking scenery.
            </p>
            <p>
              Passion became my guiding star from a tender age; I found solace
              and expression in the elegant contours of automotive design,
              sketching visions of sleek machines that seemed to dance with the
              wind. Equally at home amidst the crashing waves, I became a
              lifelong devotee of the ocean, finding solace and exhilaration
              atop a surfboard.
            </p>
            <p>
              The melodies of different languages became my symphony; fluent in
              the cadences of Castilian Spanish, the eloquence of English, the
              lyrical beauty of Italian, and the melodious tones of Swedish, I
              effortlessly traversed linguistic boundaries.
            </p>
            <p>
              Summers bathed in the Mediterranean sun found me standing as a
              vigilant sentinel along the Spanish coast, serving as a lifeguard,
              a silent guardian of lives amidst the azure expanse. Driven by the
              thirst for adventure and discovery, I ventured to the lush
              landscapes of Harrogate in my twenties, lured by the mystique of
              British life and culture.
            </p>
            <p>
              Yet, the siren call of my ancestral lands beckoned, and I returned
              to the warm embrace of Spanish sunshine, seeking solace amidst the
              familiar lands I had missed. Relocating to Helsinki with my
              beloved wife in 2011, and now finding sanctuary in the tranquil
              beauty of the Åland Islands, I stand proudly as both a father and
              a devoted husband.
            </p>
            <p>
              Inspired by a simple tweak of my Android phone settings, I
              embarked on a journey into the realm of web development. Launching
              my inaugural project, Colors and Fonts, in 2018, I have since
              dedicated myself to the art of digital creation, constantly
              refining and expanding my digital footprint.
            </p>
            <p>
              Despite encountering challenges, including developing projects on
              a laptop with a failing screen, I persevered, ultimately seeing
              two projects acquired in 2022. Initiating ventures such as
              Lexington Themes and Windstatic, I officially unveiled them to the
              world in February 2023.
            </p>
            <p>
              Simplicity and clarity have always been the guiding principles of
              my design philosophy. Consistency, both in life and work, serves
              as my steadfast companion, guiding my approach to web development,
              project management, and personal growth.
            </p>
            <p>
              Reflecting on my journey from the varied landscapes of Italy and
              Spain to the burgeoning tech scene of the Åland Islands, I have
              embraced the challenges and opportunities that each transition
              brought forth. Fueled by an unwavering passion for design,
              development, and entrepreneurship, I march forward, with
              consistency as the cornerstone of my success. As I continue to
              explore new ventures and embark on creative endeavors, I remain
              steadfastly committed to the principles of simplicity and clarity
              that define both my work and life philosophy.
            </p>
            <p>
              Thank you for taking the time to acquaint yourself with my story.
              I am filled with anticipation for the adventures that lie ahead,
              eagerly anticipating the ongoing evolution of my projects and
              personal endeavors. May your day be filled with beauty and
              inspiration.
            </p>
            <p>Michael Andreuzza</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Starts links to tutorial -->
    <div
      class="pointer-events-none fixed inset-x-0 bottom-0 sm:flex sm:justify-center p-2">
      <div
        class="pointer-events-auto flex w-full max-w-md divide-x divide-neutral-200 rounded-lg bg-white shadow-xl border border-neutral-200">
        <div class="flex w-0 flex-1 items-center p-4">
          <div class="w-full">
            <p class="text-sm font-medium text-neutral-900">Tutorial</p>
            <p class="mt-1 text-sm text-neutral-500">
              How to create an and animated navigation with Astro, Tailwind CSS,
              and JavaScript
            </p>
            <p class="mt-2 text-xs text-orange-500 underline">
              <a href="https://lexingtonthemes.com"> by © Lexington Themes</a>
            </p>
          </div>
        </div>
        <div class="flex">
          <div class="flex flex-col divide-y divide-neutral-200">
            <div class="flex h-0 flex-1">
              <a
                href="https://lexingtonthemes.com/tutorials/how-to-create-an-animated-navigation-with-javascript"
                type="button"
                class="flex w-full items-center justify-center rounded-none rounded-tr-lg px-4 py-3 text-sm font-medium text-orange-600 hover:text-orange-500 focus:z-10 focus:outline-none focus:ring-2 focus:ring-orange-500"
                >Tutorial</a
              >
            </div>
            <div class="flex h-0 flex-1">
              <a
                href="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/animated-navigation-with-javascript/index.astro"
                class="flex w-full items-center justify-center rounded-none rounded-br-lg  px-4 py-3 text-sm font-medium text-neutral-700 hover:text-neutral-500 focus:outline-none focus:ring-2 focus:ring-orange-500"
                >Get the code</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Ends links to tutorial -->
  </section>
</BaseLayout>

<script type="module">
  document.addEventListener("DOMContentLoaded", function () {
    const header = document.querySelector(".header");
    const navLinks = document.querySelectorAll(".nav-link");
    const title = document.querySelector(".site-title");

    updateHeader();

    window.addEventListener("scroll", function () {
      updateHeader();
    });

    navLinks.forEach(function (link) {
      link.addEventListener("click", function () {
        updateHeader();
      });
    });

    function updateHeader() {
      const atTop = window.pageYOffset <= 50;
      header.classList.toggle("bg-white", atTop);
      header.classList.toggle("bg-black", !atTop);
      header.classList.toggle("bg-opacity-90", !atTop);
      header.classList.toggle("backdrop-blur-xl", !atTop);
      header.classList.toggle("max-w-3xl", !atTop);
      updateTextColors(atTop);
      updateTitleColor(atTop);
    }

    function updateTextColors(atTop) {
      const textColor = atTop ? "text-black" : "text-white";
      navLinks.forEach(function (link) {
        link.classList.remove(atTop ? "text-white" : "text-black");
        link.classList.add(textColor);
      });
    }

    function updateTitleColor(atTop) {
      title.classList.remove(atTop ? "text-white" : "text-black");
      title.classList.add(atTop ? "text-black" : "text-white");
    }
  });
</script>
