---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TutorialBanner from "@/components/global/TutorialBanner.astro";
---

<BaseLayout>
  <section>
    <TutorialBanner
      tutorialUrl="https://lexingtonthemes.com/tutorials/how-to-create-persistent-tabs-with-tailwind-css-and-alpinejs"
      codeUrl="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/alpine-persistent-tabs/index.astro"
    />
    <Wrapper class="py-24 lg:py-62">
      <!-- Starts component -->
      <div
        x-data="{
    activeTab: parseInt(localStorage.getItem('activeTab')) || 0,
    setActiveTab(index) {
      this.activeTab = index;
      localStorage.setItem('activeTab', index.toString());
    }
  }"
        class="w-full max-w-lg mx-auto"
      >
        <!-- Tab List -->
        <ul
          role="tablist"
          class="flex items-stretch -mb-px gap-2 text-base-500"
        >
          <!-- Tab 1 -->
          <li role="presentation">
            <button
              @click="setActiveTab(0)"
              :aria-selected="activeTab === 0"
              :tabindex="activeTab === 0 ? 0 : -1"
              :class="{ 'bg-accent-50 text-accent-600': activeTab === 0 }"
              class="flex items-center h-8 px-4 py-2 text-xs font-medium rounded-full gap-2 focus:outline-none focus:ring-2 focus:ring-accent-500"
              role="tab"
              id="tab-1"
              aria-controls="panel-1"
            >
              My account
            </button>
          </li>
          <!-- Tab 2 -->
          <li role="presentation">
            <button
              @click="setActiveTab(1)"
              :aria-selected="activeTab === 1"
              :tabindex="activeTab === 1 ? 0 : -1"
              :class="{ 'bg-accent-50 text-accent-600': activeTab === 1 }"
              class="flex items-center h-8 px-4 py-2 text-xs font-medium rounded-full gap-2 focus:outline-none focus:ring-2 focus:ring-accent-500"
              role="tab"
              id="tab-2"
              aria-controls="panel-2"
            >
              Biling
            </button>
          </li>
        </ul>
        <!-- Panels -->
        <div class="pt-4 mt-4 border-t border-base-200">
          <!-- Panel 1 -->
          <section
            x-show="activeTab === 0"
            role="tabpanel"
            id="panel-1"
            aria-labelledby="tab-1"
          >
            Content 1
          </section>
          <!-- Panel 2 -->
          <section
            x-show="activeTab === 1"
            role="tabpanel"
            id="panel-2"
            aria-labelledby="tab-2"
          >
            Content 2
          </section>
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
