---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TutorialBanner from "@/components/global/TutorialBanner.astro";
---

<BaseLayout>
  <section>
    <!-- Starts links to tutorial -->
    <TutorialBanner
      tutorialUrl="https://lexingtonthemes.com/tutorials/how-to-create-a-typewriter-effect-text-animation-with-tailwind-css-and-javascript/"
      codeUrl="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/js-typewriter-effect/index.astroo"
    />
    <Wrapper
      class="flex flex-col justify-center py-24 text-center lg:py-62 itmes-center"
    >
      <!-- Starts component -->
      <p id="typewriter" class="text-4xl font-medium">
        <!-- The text will be inserted here by JavaScript -->
      </p>
    </Wrapper>
    <!-- Starts links to tutorial -->
    <div
      class="fixed inset-x-0 bottom-0 p-2 pointer-events-none sr-only sm:flex sm:justify-center"
    >
      <div
        class="flex w-full max-w-md bg-white border rounded-lg shadow-xl pointer-events-auto divide-x divide-base-200 border-base-200"
      >
        <div class="flex items-center flex-1 w-0 p-4">
          <div class="w-full">
            <p class="text-sm font-medium text-base-900">Tutorial</p>
            <p class="mt-1 text-sm text-base-500">
              How to create a 'typewriter effect' text animation with Tailwind
              CSS and JavaScript
            </p>
            <p class="mt-2 text-xs underline text-accent-500">
              <a href="https://lexingtonthemes.com"> by © Lexington Themes</a>
            </p>
          </div>
        </div>
        <div class="flex">
          <div class="flex flex-col divide-y divide-base-200">
            <div class="flex flex-1 h-0">
              <a
                href="https://lexingtonthemes.com/tutorials/how-to-create-a-typewriter-effect-text-animation-with-tailwind-css-and-javascript/"
                type="button"
                class="flex items-center justify-center w-full px-4 py-3 text-sm font-medium rounded-none rounded-tr-lg text-accent-600 hover:text-accent-500 focus:z-10 focus:outline-none focus:ring-2 focus:ring-accent-500"
                >Tutorial</a
              >
            </div>
            <div class="flex flex-1 h-0">
              <a
                href="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/js-typewriter-effect/index.astro"
                class="flex items-center justify-center w-full px-4 py-3 text-sm font-medium rounded-none rounded-br-lg text-base-700 hover:text-base-500 focus:outline-none focus:ring-2 focus:ring-accent-500"
                >Get the code</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Ends links to tutorial -->
  </section>
</BaseLayout>
<script type="module">
  const text = "Have a great Monday everyone!";
  const typewriter = document.getElementById("typewriter");
  let i = 0;
  function typeWrite() {
    if (i < text.length) {
      typewriter.innerHTML += text.charAt(i);
      i++;
      setTimeout(typeWrite, 100); // Adjust speed here (milliseconds)
    } else {
      setTimeout(resetTypewriter, 2000); // Wait before resetting
    }
  }
  function resetTypewriter() {
    typewriter.innerHTML = "";
    i = 0;
    typeWrite();
  }
  typeWrite();
</script>
