---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TutorialBanner from "@/components/global/TutorialBanner.astro";
---

<BaseLayout>
  <section class="bg-[#ecedef] relative overflow-hidden">
    <TutorialBanner
      tutorialUrl="https://lexingtonthemes.com/tutorials/how-to-create-an-animated-enevelope-with-tailwind-css/"
      codeUrl="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/animated-tailwind-envelope/index.astro"
    />
    <Wrapper class="py-24 lg:py-62">
      <div
        class="relative w-[650px] mx-auto group aspect-[16/9] flex items-center justify-center"
      >
        <!-- Letter -->
        <div
          class="absolute flex flex-col items-start justify-start w-full h-full px-16 py-10 bg-white transition-all duration-300 group-hover:duration-1000 group-hover:-translate-y-36"
        >
          <div class="flex justify-between w-full">
            <div>
              <p class="font-medium text-black tex-tsm">Michael Andreuzza</p>
              <p class="text-xs text-zinc-400">
                123 Fake Street
                <br />
                New York <br /> NY 10001
              </p>
              <p class="mt-6 text-xs font-medium text-base-500">Billed to</p>
              <p class="mt-1 text-sm font-medium text-black">Juan Perez</p>
              <p class="text-xs text-zinc-400">
                456 Fake Street
                <br />
                Narnia <br /> NY 10002
              </p>
            </div>
            <div class="text-sm uppercase font-sembold">Michael and Co</div>
          </div>
          <div class="mt-8">
            <p class="font-medium text-black tex-tsm">Dear Mr. Perez,</p>
            <p class="text-xs text-zinc-400">
              I hope this letter finds you well. This is a reminder that payment
              for services rendered by Michael and Co. is now due. Please find
              the details of the invoice below:
            </p>
          </div>
        </div>
        <!--- Stamp -->
        <div
          class="bg-[#edeef0] w-16 uppercase text-[#0c0d10] h-full flex items-center z-40 justify-center font-semibold group-hover:opacity-0 transition-all duration-1000 group-hover:-translate-y-96"
        >
          <div class="-rotate-90">Lexington</div>
        </div>

        <!--- Top -->
        <div
          class="transition-all duration-1000 group-hover:duration-100 z-10 bg-gradient-to-b from-[#808698] to-[#51576c] absolute group-hover:[clip-path:polygon(0_0,_100%_0,_100%_0,_0_0)] w-full h-full [clip-path:polygon(0_0,_100%_0,_95%_55%,_5.5%_55%)]"
        >
        </div>
        <!-- left -->
        <div
          class="transition-all duration-700 absolute w-full h-full bg-[#4f576e] [clip-path:polygon(0_0,_0%_100%,_8%_51%)]"
        >
        </div>
        <!-- right -->
        <div
          class="transition-all duration-700 absolute w-full h-full group-hover:rounded-tr-none bg-[#4f576e] [clip-path:polygon(100%_0,_100%_100%,_92%_51%)]"
        >
        </div>
        <!--- Bottom -->
        <div
          class="transition-all duration-700 absolute w-full h-full bg-gradient-to-b from-[#0c0d10] to-[#4f576e] [clip-path:polygon(4%_50%,_96%_50%,_100%_100%,_0%_100%)]"
        >
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
