---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section>
    <div
      class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24 flex flex-col justify-center h-svh">
      <div
        x-data="{ showAlert: true }"
        x-init="$nextTick(() => { if (showAlert) $refs.firstButton.focus() })"
        x-show="showAlert"
        role="dialog"
        aria-labelledby="cookieBannerTitle"
        aria-describedby="cookieBannerDesc">
        <!-- Cookie banner content container -->
        <div class="mx-auto p-8 lg:p-10 bg-white rounded-3xl ring-1 ring-gray-200 ring-inset shadow-2xl max-w-lg text-center">
          <img
            src="https://i.pinimg.com/originals/ef/86/cf/ef86cfbac3952cbfdaacb66e8ca3b685.gif"
            alt="Cookies"
            class="w-32 h-32 mx-auto rounded-full -mt-24"
          />

          <h2
            id="cookieBannerTitle"
            class="text-2xl font-medium mt-8">
            Our website uses cookies
          </h2>

          <p
            id="cookieBannerDesc"
            class="mt-4 text-gray-500">
            Our website uses cookies. By continuing, we assume your permission
            to deploy cookies as detailed in our
            <a
              href="#_"
              class="underline hover:text-orange-600 text-black"
              >Privacy Policy.</a
            >
          </p>

          <!-- Accept cookies button -->
          <div class="mt-8">
            <button
              x-ref="firstButton"
              @click="showAlert = false"
              class="rounded-full bg-orange-600 px-8 py-2 h-12 text-sm font-semibold text-white hover:bg-orange-500 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2">
              Accept all cookies
            </button>
          </div>

          <!-- Manage cookies link -->
          <div class="mt-4">
            <a
              href="#_"
              class="text-sm text-orange-600 hover:text-orange-500"
              >Manage cookies</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
