---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TutorialBanner from "@/components/global/TutorialBanner.astro";
---

<BaseLayout>
  <section>
    <div
      class="relative flex flex-col justify-center w-full p-8 py-24 mx-auto 2xl:max-w-7xl"
    >
      <div class="max-w-xl mx-auto text-center">
        <div
          class="w-full max-w-sm mx-auto prose text-base-500 prose-sm prose-headings:font-normal prose-headings:text-xl"
        >
          <div>
            <h1>Details tag</h1>
            <p>Click on the button to see the details tag.</p>
          </div>
        </div>
      </div>
      <div class="w-full max-w-md pt-12 mx-auto mt-12 border-t border-base-200">
        <!-- Starts component -->
        <details aria-expanded="false">
          <summary role="button" aria-controls="details-content"
            >Click to reveal more information</summary
          >
          <div id="details-content">
            Accessible content with ARIA attributes.
          </div>
        </details>

        <!-- Ends component -->
      </div>

      <!-- Starts links to tutorial -->
      <div
        class="fixed inset-x-0 bottom-0 p-2 pointer-events-none sm:flex sm:justify-center"
      >
        <div
          class="flex w-full max-w-md bg-white border rounded-lg shadow-xl pointer-events-auto divide-x divide-base-200 border-base-200"
        >
          <div class="flex items-center flex-1 w-0 p-4">
            <div class="w-full">
              <p class="text-sm font-medium text-base-900">Tutorial</p>
              <p class="mt-1 text-sm text-base-500">
                How to create interactive and accessible content with the
                details element
              </p>
              <p class="mt-2 text-xs underline text-accent-600">
                <a href="https://lexingtonthemes.com">
                  by © Lexington Themes</a
                >
              </p>
            </div>
          </div>
          <div class="flex">
            <div class="flex flex-col divide-y divide-base-200">
              <div class="flex flex-1 h-0">
                <a
                  href="https://lexingtonthemes.com/tutorials/how-to-create-interactive-accessible-content-with-details-element"
                  type="button"
                  class="flex items-center justify-center w-full px-4 py-3 text-sm font-medium rounded-none rounded-tr-lg text-accent-600 hover:text-accent-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-accent-600"
                  >Tutorial</a
                >
              </div>
              <div class="flex flex-1 h-0">
                <a
                  href="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/html-details-tag/index.astro"
                  class="flex items-center justify-center w-full px-4 py-3 text-sm font-medium rounded-none rounded-br-lg text-base-700 hover:text-base-500 focus:outline-none focus:ring-2 focus:ring-accent-600"
                  >Get the code</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Ends links to tutorial -->
    </div>
  </section>
</BaseLayout>
