---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TutorialBanner from "@/components/global/TutorialBanner.astro";
---

<BaseLayout>
  <section>
    <TutorialBanner
      tutorialUrl="https://lexingtonthemes.com/tutorials/how-to-create-a-todo-with-alpine-js-and-tailwind-css/"
      codeUrl="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/todo/index.astro"
    />
    <Wrapper class="py-24 lg:py-62">
      <!-- Starts component -->
      <div
        class="max-w-md mx-auto"
        x-data="{
    todos: [],
    newTodo: '',
    addTodo() {
        if (this.newTodo.trim() !== '') {
            this.todos.push({ text: this.newTodo, completed: false });
            this.newTodo = '';
            localStorage.setItem('todos', JSON.stringify(this.todos));
        }
    },
    removeTodo(index) {
        this.todos.splice(index, 1);
        localStorage.setItem('todos', JSON.stringify(this.todos));
    },
    initializeTodos() {
        const storedTodos = localStorage.getItem('todos');
        if (storedTodos) {
            this.todos = JSON.parse(storedTodos);
        }
    }
}"
        x-init="initializeTodos"
      >
        <!-- Input to add new todo -->
        <div class="flex flex-col items-center gap-2">
          <button
            @click="addTodo"
            class="w-full h-10 px-8 py-2 text-sm font-semibold text-white rounded-full bg-accent-600 hover:bg-accent-500 focus:outline-none focus:ring-2 focus:ring-accent-500 focus:ring-offset-2"
            >Add</button
          >
          <input
            type="text"
            x-model="newTodo"
            @keydown.enter="addTodo"
            class="w-full text-sm border-base-300 rounded-md placeholder-base-400 focus:border-accent-500 focus:ring-accent-500"
            placeholder="Make the logo bigger"
          />
        </div>

        <!-- List of todos -->
        <ul class="mt-4 divide-y">
          <template x-for="(todo, index) in todos" :key="index">
            <li class="flex items-center w-full py-2 space-x-2">
              <div class="flex items-center justify-between w-full">
                <div>
                  <input
                    type="checkbox"
                    x-model="todo.completed"
                    class="w-4 h-4 text-indigo-600 rounded form-checkbox border-base-300 focus:ring-indigo-600"
                  />
                  <span
                    x-text="todo.text"
                    :class="{ 'line-through': todo.completed }"
                    class="text-lg text-base-500"></span>
                </div>
                <button
                  @click="removeTodo(index)"
                  class="ml-auto text-black hover:text-red-700 focus:outline-none"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-5 h-5"
                  >
                    <path
                      d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z"
                    ></path>
                  </svg>
                </button>
              </div>
            </li>
          </template>
        </ul>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
