---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="bg-white">
    <div
      class="w-full mx-auto max-w-xl flex flex-col justify-center py-24 relative p-8">
      <div
        class="prose text-gray-500 prose-sm prose-headings:font-normal prose-headings:text-xl">
        <div>
          <h1>Carousel</h1>
          <p class="text-balance">somegthing</p>
        </div>
      </div>
      <div class="mt-6 border-t pt-12 max-w-xl mx-auto">
        <div
          class="flex flex-col w-full"
          x-data="{
        skip: 1,
        atBeginning: false,
        atEnd: false,
        next() {
            this.to((current, offset) => current + (offset * this.skip))
        },
        prev() {
            this.to((current, offset) => current - (offset * this.skip))
        },
        to(strategy) {
            let slider = this.$refs.slider
            let current = slider.scrollLeft
            let offset = slider.firstElementChild.getBoundingClientRect().width
            slider.scrollTo({ left: strategy(current, offset), behavior: 'smooth' })
        },
        focusableWhenVisible: {
            'x-intersect:enter'() {
                this.$el.removeAttribute('tabindex')
            },
            'x-intersect:leave'() {
                this.$el.setAttribute('tabindex', '-1')
            },
        },
        disableNextAndPreviousButtons: {
            'x-intersect:enter.threshold.05'() {
                let slideEls = this.$el.parentElement.children
                // If this is the first slide.
                if (slideEls[0] === this.$el) {
                    this.atBeginning = true
                // If this is the last slide.
                } else if (slideEls[slideEls.length-1] === this.$el) {
                    this.atEnd = true
                }
            },
            'x-intersect:leave.threshold.05'() {
                let slideEls = this.$el.parentElement.children
                // If this is the first slide.
                if (slideEls[0] === this.$el) {
                    this.atBeginning = false
                // If this is the last slide.
                } else if (slideEls[slideEls.length-1] === this.$el) {
                    this.atEnd = false
                }
            },
        },
    }">
          <div
            class="flex flex-col w-full"
            aria-labelledby="carousel-label"
            role="region"
            tabindex="0"
            x-on:keydown.left="prev"
            x-on:keydown.right="next">
            <h2
              class="sr-only"
              hidden=""
              id="carousel-label">
              Carousel
            </h2>
            <span
              class="sr-only"
              hidden=""
              id="carousel-content-label"
              >Carousel</span
            >
            <div class="items-center inline-flex lg:px-2 space-x-2">
              <button
                class="bg-orange-500 hover:bg-orange-600 size-8 flex focus:bg-orange-400 rounded-full items-center text-white"
                :class="{ 'opacity-50 ': atBeginning }"
                :aria-disabled="atBeginning"
                :tabindex="atEnd ? -1 : 0"
                x-on:click="prev"
                tabindex="0"
                ><span
                  aria-hidden="true"
                  class="mx-auto">
                  &larr;
                </span><span class="sr-only">Skip to previous slide page</span
                ></button
              >
              <button
                class="bg-orange-500 hover:bg-orange-600 size-8 flex focus:bg-orange-400 rounded-full items-center text-white"
                :class="{ 'opacity-50 ': atEnd }"
                :aria-disabled="atEnd"
                :tabindex="atEnd ? -1 : 0"
                x-on:click="next"
                tabindex="0"
                ><span
                  aria-hidden="true"
                  class="mx-auto">
                  &rarr;
                </span><span class="sr-only">Skip to next slide page</span
                ></button
              >
            </div>
            <ul
              class="flex gap-3 overflow-x-scroll mt-4 scrollbar-hide snap-mandatory snap-x w-full rounded-2xl"
              role="listbox"
              aria-labelledby="carousel-content-label"
              tabindex="0"
              x-ref="slider">
              <li
                class="items-center justify-center w-full flex flex-col shrink-0 snap-start h-full p-8 rounded-2xl lg:p-10 bg-gray-100"
                role="option"
                x-bind="disableNextAndPreviousButtons">
                <figure>
                  <div class="max-w-2xl">
                    <div class="flex flex-col gap-12">
                      <p
                        class="text-base text-gray-900 font-display text-balance">
                        "I've been using this services for years, and they
                        consistently exceed my expectations. The support team is
                        fantastic! "
                      </p>
                      <div class="block flex-shrink-0">
                        <div class="flex items-center">
                          <div>
                            <img
                              class="inline-block h-9 w-9 rounded-full object-cover object-center"
                              src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=2960&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                              alt=""
                            />
                          </div>
                          <div class="ml-3">
                            <p class="text-sm font-medium text-gray-700">
                              Pepe Madrid
                            </p>
                            <p class="text-xs font-medium text-gray-500">
                              CEO of Something INC
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </figure>
              </li>
              <li
                class="items-center justify-center w-full flex flex-col shrink-0 snap-start h-full p-8 rounded-2xl lg:p-10 bg-gray-100"
                role="option"
                x-bind="disableNextAndPreviousButtons">
                <figure>
                  <div class="max-w-2xl">
                    <div class="flex flex-col gap-12">
                      <p
                        class="text-base text-gray-900 font-display text-balance">
                        "The financial solutions they offer are top-notch. I've
                        seen significant growth in my investments since I started
                        using their platform. "
                      </p>
                      <div class="block flex-shrink-0">
                        <div class="flex items-center">
                          <div>
                            <img
                              class="inline-block h-9 w-9 rounded-full object-cover object-center"
                              src="https://alfred.lexingtonthemes.com/avatar1.png"
                              alt=""
                            />
                          </div>
                          <div class="ml-3">
                            <p class="text-sm font-medium text-gray-700">
                              Michael Andreuzza
                            </p>
                            <p class="text-xs font-medium text-gray-500">
                              CEO of Something INC
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </figure>
              </li>
              <li
                class="items-center justify-center w-full flex flex-col shrink-0 snap-start h-full p-8 rounded-2xl lg:p-10 bg-gray-100"
                role="option"
                x-bind="disableNextAndPreviousButtons">
                <figure>
                  <div class="max-w-2xl">
                    <div class="flex flex-col gap-12">
                      <p
                        class="text-base text-gray-900 font-display text-balance">
                        "Their customer service is unparalleled. They really go
                        the extra mile to ensure customer satisfaction. "
                      </p>
                      <div class="block flex-shrink-0">
                        <div class="flex items-center">
                          <div>
                            <img
                              class="inline-block h-9 w-9 rounded-full object-cover object-center"
                              src="https://plus.unsplash.com/premium_photo-1689568126014-06fea9d5d341?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                              alt=""
                            />
                          </div>
                          <div class="ml-3">
                            <p class="text-sm font-medium text-gray-700">
                              Fernando Pio
                            </p>
                            <p class="text-xs font-medium text-gray-500">
                              CEO of Something INC
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </figure>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
