---
import BaseLayout from "@/layouts/BaseLayout.astro";
// ImageGallery.astro
// Define an array of image objects to make the component more dynamic and easily editable.
const images = [
  {
    url: "https://images.unsplash.com/photo-1530035415911-95194de4ebcc?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    rotation: "rotate-6",
  },
  {
    url: "https://images.unsplash.com/photo-1487180144351-b8472da7d491?q=80&w=2672&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D ",
    rotation: "-rotate-12",
  },
  {
    url: "https://images.unsplash.com/photo-1586996292898-71f4036c4e07?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    rotation: "rotate-6",
  },
  {
    url: "https://images.unsplash.com/photo-1522775417749-29284fb89f43?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    rotation: "-rotate-12",
  },
];
---

<BaseLayout>
  <section class="bg-zinc-50">
    <div
      class="max-w-screen-xl 2xl:max-w-screen-3xl px-8 md:px-12 mx-auto py-12 lg:py-24 space-y-24 h-svh flex flex-col justify-center"
    >
      <div class="hidden lg:grid mt-12 lg:grid-cols-4 mx-auto scale-125">
        <!--
// This section dynamically generates an <img> element for each image in the images array, applying Tailwind CSS classes for styling and interaction effects:
//
// "rounded-xl": Adds extra-large rounded corners to the images for a softer look.
// "grayscale": Applies a grayscale filter, making the images appear in black and white.
// "w-full": Ensures each image expands to fill the full width of its container, making the layout responsive.
// "${image.rotation}": A dynamic class that applies a rotation to the image, based on each image's specified rotation property.
// This creates a visually interesting tilt effect.
//
// "hover:rotate-0": On hover, this class resets the image's rotation to 0 degrees, effectively 'straightening' it for a neat interaction effect.
// "duration-500": Specifies the duration of the hover effect transition, set here to 500 milliseconds for a smooth effect.
// "hover:-translate-y-12": On hover, this class moves the image upward, creating a lifting effect that draws attention.
// "transform origin-bottom": Sets the transform origin to the bottom of the image, ensuring rotation and translation effects are anchored from the bottom.
//
These classes combine to create a responsive and interactive image gallery with unique hover effects that enhance the user experience.
-->
        {
          images.map((image) => (
            <a href="#_">
              <img
                src={image.url}
                class={`rounded-xl   w-full ${image.rotation} hover:rotate-0 duration-500 hover:-translate-y-12 h-full w-full object-cover hover:scale-150 transform origin-bottom`}
                alt="#_"
              />
            </a>
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
