---
import Button from "@/components/fundations/buttons/Button.astro";
import PlaceHolderIcon from "@/components/fundations/icons/PlaceHolderIcon.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="bg-white">
    <div class="w-full mx-auto max-w-xl flex flex-col pt-24 relative p-8">
      <div
        class="prose prose-sm prose-headings:font-normal prose-headings:text-xl">
        <h1>Astro button component</h1>
      </div>
    </div>
    <div class="px-8 lg:px-24 pb-36">
      <div class="mt-6 border-t  border-neutral-200  max-w-7xl divide-y mx-auto">
        <!-- Starts component -->

        <!-- Default button sizes -->
        <div class="flex flex-wrap gap-4 py-8 mx-auto items-end">
          <Button
            variant="default"
            size="xs"
            >Button Default</Button
          >
          <Button
            variant="default"
            size="sm"
            >Button Default</Button
          >
          <Button
            variant="default"
            size="base"
            >Button Default</Button
          >
          <Button
            variant="default"
            size="md"
            >Button Default</Button
          >
          <Button
            variant="default"
            size="lg"
            >Button Default</Button
          >
          <Button
            variant="default"
            size="xl"
            >Button Default</Button
          >
        </div>

        <!-- Accent button sizes -->
        <div class="flex flex-wrap gap-4 py-8 mx-auto items-end">
          <Button
            variant="accent"
            size="xs"
            >Button Accent</Button
          >
          <Button
            variant="accent"
            size="sm"
            >Button Accent</Button
          >
          <Button
            variant="accent"
            size="base"
            >Button Accent</Button
          >
          <Button
            variant="accent"
            size="md"
            >Button Accent</Button
          >
          <Button
            variant="accent"
            size="lg"
            >Button Accent</Button
          >
          <Button
            variant="accent"
            size="xl"
            >Button Accent</Button
          >
        </div>

        <!-- Alternative button sizes -->
        <div class="flex flex-wrap gap-4 py-8 mx-auto items-end">
          <Button
            variant="alternative"
            size="xs"
            >Button alternative</Button
          >
          <Button
            variant="alternative"
            size="sm"
            >Button alternative</Button
          >
          <Button
            variant="alternative"
            size="base"
            >Button alternative</Button
          >
          <Button
            variant="alternative"
            size="md"
            >Button alternative</Button
          >
          <Button
            variant="alternative"
            size="lg"
            >Button alternative</Button
          >
          <Button
            variant="alternative"
            size="xl"
            >Button alternative</Button
          >
        </div>

        <!-- Muted button sizes -->
        <div class="flex flex-wrap gap-4 py-8 mx-auto items-end">
          <Button
            variant="muted"
            size="xs"
            >Button Muted</Button
          >
          <Button
            variant="muted"
            size="sm"
            >Button Muted</Button
          >
          <Button
            variant="muted"
            size="base"
            >Button Muted</Button
          >
          <Button
            variant="muted"
            size="md"
            >Button Muted</Button
          >
          <Button
            variant="muted"
            size="lg"
            >Button Muted</Button
          >
          <Button
            variant="muted"
            size="xl"
            >Button Muted</Button
          >
        </div>

        <!-- Info button sizes -->
        <div class="flex flex-wrap gap-4 py-8 mx-auto items-end">
          <Button
            variant="info"
            size="xs"
            >Button info</Button
          >
          <Button
            variant="info"
            size="sm"
            >Button info</Button
          >
          <Button
            variant="info"
            size="base"
            >Button info</Button
          >
          <Button
            variant="info"
            size="md"
            >Button info</Button
          >
          <Button
            variant="info"
            size="lg"
            >Button info</Button
          >
          <Button
            variant="info"
            size="xl"
            >Button info</Button
          >
        </div>

        <!-- Success button sizes -->
        <div class="flex flex-wrap gap-4 py-8 mx-auto items-end">
          <Button
            variant="success"
            size="xs"
            >Button success</Button
          >
          <Button
            variant="success"
            size="sm"
            >Button success</Button
          >
          <Button
            variant="success"
            size="base"
            >Button success</Button
          >
          <Button
            variant="success"
            size="md"
            >Button success</Button
          >
          <Button
            variant="success"
            size="lg"
            >Button success</Button
          >
          <Button
            variant="success"
            size="xl"
            >Button success</Button
          >
        </div>

        <!-- Warning button sizes -->
        <div class="flex flex-wrap gap-4 py-8 mx-auto items-end">
          <Button
            variant="warning"
            size="xs"
            >Button warning</Button
          >
          <Button
            variant="warning"
            size="sm"
            >Button warning</Button
          >
          <Button
            variant="warning"
            size="base"
            >Button warning</Button
          >
          <Button
            variant="warning"
            size="md"
            >Button warning</Button
          >
          <Button
            variant="warning"
            size="lg"
            >Button warning</Button
          >
          <Button
            variant="warning"
            size="xl"
            >Button warning</Button
          >
        </div>

        <!-- Danger button sizes -->
        <div class="flex flex-wrap gap-4 py-8 mx-auto items-end">
          <Button
            variant="danger"
            size="xs"
            >Button danger</Button
          >
          <Button
            variant="danger"
            size="sm"
            >Button danger</Button
          >
          <Button
            variant="danger"
            size="base"
            >Button danger</Button
          >
          <Button
            variant="danger"
            size="md"
            >Button danger</Button
          >
          <Button
            variant="danger"
            size="lg"
            >Button danger</Button
          >
          <Button
            variant="danger"
            size="xl"
            >Button danger</Button
          >
        </div>

        <!-- Text button sizes -->
        <div class="flex flex-wrap gap-4 py-8 mx-auto items-end">
          <Button
            variant="text"
            size="xs"
            >Text Button</Button
          >
          <Button
            variant="text"
            size="sm"
            >Text Button</Button
          >
          <Button
            variant="text"
            size="base"
            >Text Button</Button
          >
          <Button
            variant="text"
            size="md"
            >Text Button</Button
          >
          <Button
            variant="text"
            size="lg"
            >Text Button</Button
          >
          <Button
            variant="text"
            size="xl"
            >Text Button</Button
          >
        </div>

        <!-- Link button sizes -->
        <div class="flex flex-wrap gap-4 py-8 mx-auto items-end">
          <Button
            variant="link"
            size="xs"
            >Link Button</Button
          >
          <Button
            variant="link"
            size="sm"
            >Link Button</Button
          >
          <Button
            variant="link"
            size="base"
            >Link Button</Button
          >
          <Button
            variant="link"
            size="md"
            >Link Button</Button
          >
          <Button
            variant="link"
            size="lg"
            >Link Button</Button
          >
          <Button
            variant="link"
            size="xl"
            >Link Button</Button
          >
        </div>
        <!-- With right icon -->
        <div class="flex flex-wrap gap-4 py-8 mx-auto items-end">
          <Button
            variant="default"
            gap="xs"
            size="xs">
            <PlaceHolderIcon
              size="sm"
              slot="right-icon"
            />
            Button right icon
          </Button>
          <Button
            variant="default"
            gap="xs"
            size="sm">
            <PlaceHolderIcon
              size="sm"
              slot="right-icon"
            />
            Button right icon
          </Button>
          <Button
            variant="default"
            gap="sm"
            size="base">
            <PlaceHolderIcon
              size="base"
              slot="right-icon"
            />
            Button right icon
          </Button>
          <Button
            variant="default"
            gap="xs"
            size="md">
            <PlaceHolderIcon
              size="base"
              slot="right-icon"
            />
            Button right icon
          </Button>
          <Button
            variant="default"
            gap="xs"
            size="lg">
            <PlaceHolderIcon
              size="md"
              slot="right-icon"
            />
            Button right icon
          </Button>
          <Button
            variant="default"
            gap="xs"
            size="xl">
            <PlaceHolderIcon
              size="lg"
              slot="right-icon"
            />
            Button right icon
          </Button>
        </div>
        <!-- With left icon -->
        <div class="flex flex-wrap gap-4 py-8 mx-auto items-end">
          <Button
            variant="accent"
            gap="xs"
            size="xs">
            <PlaceHolderIcon
              size="sm"
              slot="left-icon"
            />
            Button left icon
          </Button>
          <Button
            variant="accent"
            gap="xs"
            size="sm">
            <PlaceHolderIcon
              size="sm"
              slot="left-icon"
            />
            Button left icon
          </Button>
          <Button
            variant="accent"
            gap="sm"
            size="base">
            <PlaceHolderIcon
              size="base"
              slot="left-icon"
            />
            Button left icon
          </Button>
          <Button
            variant="accent"
            gap="xs"
            size="md">
            <PlaceHolderIcon
              size="base"
              slot="left-icon"
            />
            Button left icon
          </Button>
          <Button
            variant="accent"
            gap="xs"
            size="lg">
            <PlaceHolderIcon
              size="md"
              slot="left-icon"
            />
            Button left icon
          </Button>
          <Button
            variant="accent"
            gap="xs"
            size="xl">
            <PlaceHolderIcon
              size="lg"
              slot="left-icon"
            />
            Button left icon
          </Button>
        </div>
        <!-- Ends component -->
      </div>
    </div>
    <!-- Starts links to tutorial -->
    <div
      class="pointer-events-none fixed inset-x-0 bottom-0 sm:flex sm:justify-center p-2">
      <div
        class="pointer-events-auto flex w-full max-w-md divide-x divide-neutral-200 rounded-lg bg-white shadow-xl border border-neutral-200">
        <div class="flex w-0 flex-1 items-center p-4">
          <div class="w-full">
            <p class="text-sm font-medium text-neutral-900">Tutorial</p>
            <p class="mt-1 text-sm text-neutral-500">
              How to create a button component with variants with Astro JS and
              Tailwind CSS
            </p>
            <p class="mt-2 text-xs text-orange-500 underline">
              <a href="https://lexingtonthemes.com"> by © Lexington Themes</a>
            </p>
          </div>
        </div>
        <div class="flex">
          <div class="flex flex-col divide-y divide-neutral-200">
            <div class="flex h-0 flex-1">
              <a
                href="https://lexingtonthemes.com/tutorials/how-to-create-a-button-component-with-variants-and-icons-with-astro-js-and-tailwind-css/"
                type="button"
                class="flex w-full items-center justify-center rounded-none rounded-tr-lg px-4 py-3 text-sm font-medium text-orange-600 hover:text-orange-500 focus:z-10 focus:outline-none focus:ring-2 focus:ring-orange-500"
                >Tutorial</a
              >
            </div>
            <div class="flex h-0 flex-1">
              <a
                href="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/astro-button-component/index.astro"
                class="flex w-full items-center justify-center rounded-none rounded-br-lg  px-4 py-3 text-sm font-medium text-neutral-700 hover:text-neutral-500 focus:outline-none focus:ring-2 focus:ring-orange-500"
                >Get the code</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Ends links to tutorial -->
  </section>
</BaseLayout>
