---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TutorialBanner from "@/components/global/TutorialBanner.astro";
---

<BaseLayout>
  <!-- Starts links to tutorial -->
  <TutorialBanner
    tutorialUrl="https://lexingtonthemes.com/tutorials/how-to-create-a-bottom-drawer-tailwind-css-and-javascript/"
    codeUrl="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/js-drawer/index.astro"
  />
  <!--  Starts component -->
  <section class="bg-white">
    <Wrapper class="flex flex-col items-center justify-center py-24 lg:py-62">
      <!-- Starts component -->
      <button
        id="toggleButton"
        aria-expanded="false"
        class="h-12 px-8 py-2 text-sm font-semibold text-white rounded-full bg-accent-600 hover:bg-accent-500 focus:outline-none focus:ring-2 focus:ring-accent-500 focus:ring-offset-2 w-fit"
      >
        Show drawer
      </button>
      <!-- Button to toggle the bottom drawer -->

      <!-- Bottom drawer container with transition -->
      <div
        id="bottomDrawer"
        class="fixed inset-x-0 bottom-0 flex flex-col justify-between p-8 bg-white gap-x-8 gap-y-4 ring-1 ring-base-900/10 transform translate-y-full transition-transform duration-300 md:flex-row md:items-center lg:p-20"
      >
        <div class="flex flex-col justify-between w-full lg:flex-row gap-12">
          <!-- Drawer content -->
          <p class="max-w-4xl text-sm leading-6 text-base-500">
            Our website employs cookies to enhance a well-rounded diet, serving
            as a delightful treat for your senses following the intake of
            wholesome yet unexciting meals. Opting in to enjoy our cookies is
            not mandatory but is advised for a tasteful experience.
            <span class="block mt-2">
              See our <a href="#" class="font-semibold text-indigo-600"
                >cookie policy</a
              >.
            </span>
          </p>
          <div class="flex items-center flex-none gap-x-5">
            <button
              type="button"
              class="h-12 px-8 py-2 text-sm font-semibold text-white rounded-full bg-accent-600 hover:bg-accent-500 focus:outline-none focus:ring-2 focus:ring-accent-500 focus:ring-offset-2"
            >
              Accept all
            </button>
            <button
              type="button"
              id="rejectButton"
              class="text-sm font-semibold leading-6 text-base-900"
            >
              Reject all
            </button>
          </div>
        </div>
      </div>
      <!-- Ends component -->
    </Wrapper>
  </section>
</BaseLayout>
<script type="module">
  document.addEventListener("DOMContentLoaded", () => {
    const toggleButton = document.getElementById("toggleButton");
    const bottomDrawer = document.getElementById("bottomDrawer");
    const rejectButton = document.getElementById("rejectButton");

    function toggleDrawer() {
      bottomDrawer.classList.toggle("translate-y-full");
      bottomDrawer.classList.toggle("translate-y-0");
    }

    function closeDrawer() {
      bottomDrawer.classList.add("translate-y-full");
      bottomDrawer.classList.remove("translate-y-0");
    }

    toggleButton.addEventListener("click", toggleDrawer);
    rejectButton.addEventListener("click", closeDrawer);

    document.addEventListener("click", (event) => {
      if (
        !bottomDrawer.contains(event.target) &&
        !toggleButton.contains(event.target)
      ) {
        closeDrawer();
      }
    });
  });
</script>
