@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "tailwind-scrollbar-hide";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Typography */
  --font-sans: "Geist", Inter, sans-serif;
  --font-mono: Geist Mono, monospace;
  --color-accent: #f85912;
  --color-accent-dark: #e03e23;
  --color-beige: #f7f7f4;
  --color-black: #17181b;
  /* Colors */
  --color-accent-50: oklch(0.958 0.016 22.18);
  --color-accent-100: oklch(0.918 0.034 24.63);
  --color-accent-200: oklch(0.836 0.074 24.96);
  --color-accent-300: oklch(0.755 0.122 27.08);
  --color-accent-400: oklch(0.674 0.179 31.77);
  --color-accent-500: oklch(0.589 0.17 33.2);
  --color-accent-600: oklch(0.499 0.144 33.12);
  --color-accent-700: oklch(0.41 0.119 32.91);
  --color-accent-800: oklch(0.321 0.093 33.07);
  --color-accent-900: oklch(0.231 0.066 33.78);
  --color-accent-950: oklch(0.183 0.053 33.33);
 --color-sand-50: oklch(98.73% 0.004 106.47);
  --color-sand-100: oklch(97.03% 0.007 88.64);
  --color-sand-200: oklch(90.07% 0.024 90.76);
  --color-sand-300: oklch(82.59% 0.04 87.57);
  --color-sand-400: oklch(75.75% 0.057 88.79);
  --color-sand-500: oklch(68.28% 0.074 88.38);
  --color-sand-600: oklch(58.28% 0.068 87.84);
  --color-sand-700: oklch(47.95% 0.054 88.5);
  --color-sand-800: oklch(36.27% 0.04 89.72);
  --color-sand-900: oklch(24.54% 0.023 87.95);
  --color-sand-950: oklch(16.56% 0.011 80.55);
  --color-base-50: oklch(0.958 0.005 94.95);
  
  --color-base-100: oklch(0.913 0.011 89.67);
  --color-base-200: oklch(0.826 0.01 93.52);
  --color-base-300: oklch(0.741 0.009 91.45);
  --color-base-400: oklch(0.656 0.009 98.88);
  --color-base-500: oklch(0.569 0.008 97.37);
  --color-base-600: oklch(0.482 0.005 91.42);
  --color-base-700: oklch(0.397 0.005 106.52);
  --color-base-800: oklch(0.309 0.004 84.54);
  --color-base-900: oklch(0.223 0.002 67.71);
  --color-base-950: oklch(0.223 0.002 67.71);
}



/* WebKit (Chrome, Safari) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(
    --thumb-color
  ); /* Use custom variable for thumb color */
  cursor: pointer;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  background-color: var(
    --thumb-color
  ); /* Use custom variable for thumb color */
  cursor: pointer;
}


@keyframes float {
    0% {
      transform: translateY(100vh) translateX(0);
    }
    100% {
      transform: translateY(-100vh)
        translateX(calc(sin(var(--random-offset)) * 50px));
    }
  }

  .bubble {
    position: absolute;
    border-radius: 50%;
    opacity: 0.7;
    transition: background-color 0.3s ease-in-out;
    will-change: transform;
  }