---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TutorialBanner from "@/components/global/TutorialBanner.astro";
---

<BaseLayout>
  <section>
    <TutorialBanner
      tutorialUrl="https://lexingtonthemes.com/tutorials/how-to-create-a-progress-bar-with-tailwind-css-and-alpine-js/"
      codeUrl="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/progress-bar/index.astro"
    />
    <Wrapper class="py-24 lg:py-62">
      <div
        x-data="{ progress: 0, interval: null }"
        x-init="() => { interval = setInterval(() => { progress < 100 ? progress += 5 : clearInterval(interval); }, 100); }"
        class="w-48 mx-auto"
      >
        <div class="text-sm text-base-500" x-text="progress + '%'"></div>
        <div class="relative h-1 mt-2 rounded-full bg-base-200">
          <div
            x-bind:style="'width: ' + progress + '%;'"
            class="absolute top-0 left-0 h-full rounded-full bg-accent-500"
          >
          </div>
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
