---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TutorialBanner from "@/components/global/TutorialBanner.astro";
---

<style>
  .blob {
    filter: blur(6px) contrast(20);
  }
  .blob:before,
  .blob:after {
    grid-area: 1/1;
    animation: gooeyBlob 2s infinite;
  }
  .blob:after {
    animation-delay: -1s;
  }
  @keyframes gooeyBlob {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(100%, 0);
    }
    50% {
      transform: translate(100%, 100%);
    }
    75% {
      transform: translate(0, 100%);
    }
    100% {
      transform: translate(0, 0);
    }
  }
</style>
<BaseLayout>
  <section>
    <TutorialBanner
      tutorialUrl="https://lexingtonthemes.com/tutorials/how-tocreate-an-animated-loader-with-tailwind-css/"
      codeUrl="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/animated-tailwind-loader/index.astro"
    />
    <Wrapper class="py-24 lg:py-48">
      <!-- Starts component -->

      <div class="rotate-45">
        <div class="flex items-center w-32 mx-auto scale-y-[-1]">
          <div
            class="blob grid p-4 before:size-11 after:size-11 content-[''] size-28 before:bg-base-500 after:bg-base-500 bg-white mx-auto blob2 scale-x-[-1]"
          >
          </div>
          <div
            class="blob grid p-4 before:size-11 after:size-11 content-[''] size-28 before:bg-base-500 after:bg-base-500 bg-white mx-auto relative"
          >
          </div>
        </div>
        <div class="flex items-center w-32 mx-auto">
          <div
            class="blob grid p-4 before:size-11 after:size-11 content-[''] size-28 before:bg-base-500 after:bg-base-500 bg-white mx-auto blob2 scale-x-[-1]"
          >
          </div>
          <div
            class="blob grid p-4 before:size-11 after:size-11 content-[''] size-28 before:bg-base-500 after:bg-base-500 bg-white mx-auto relative"
          >
          </div>
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
