---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TutorialBanner from "@/components/global/TutorialBanner.astro";

const images = [
  {
    src: "https://i.pinimg.com/564x/d7/91/e9/d791e9d043157103db074c2974718ef4.jpg",
    alt: "#_",
  },
  {
    src: "https://i.pinimg.com/564x/68/b7/4f/68b74feae577f960fe3195506103c249.jpg",
    alt: "#_",
  },
  {
    src: "https://i.pinimg.com/564x/31/f6/ef/31f6ef6e437a71a4f8aedcbbd71c0dc8.jpg",
    alt: "#_",
  },
  {
    src: "https://i.pinimg.com/564x/ff/a9/67/ffa967e349b2146446e2dee7ac002994.jpg",
    alt: "#_",
  },
];
---

<BaseLayout>
  <section>
    <TutorialBanner
      tutorialUrl="https://lexingtonthemes.com/tutorials/how-to-create-an-expandable-gallery-with-tailwind-css/"
      codeUrl="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/js-gridtoggle/index.astro"
    />

    <Wrapper class="py-24 lg:py-48">
      <div class="flex gap-4">
        {
          images.map((image) => (
            <figure class="relative w-32 h-80 flex-1 overflow-hidden bg-background rounded-2xl  transition-all duration-500 ease-in-out hover:flex-[2] hover:cursor-pointer hover:rounded-xl group">
              <img
                class="relative object-cover h-80 transition-all duration-500 ease-in-out  group-hover:w-full"
                src={image.src}
                alt={image.alt}
              />
            </figure>
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
