---
import BaseLayout from "@/layouts/BaseLayout.astro";

const images = [
  {
    src: "https://i.pinimg.com/564x/d7/91/e9/d791e9d043157103db074c2974718ef4.jpg",
    alt: "#_",
  },
  {
    src: "https://i.pinimg.com/564x/68/b7/4f/68b74feae577f960fe3195506103c249.jpg",
    alt: "#_",
  },
  {
    src: "https://i.pinimg.com/564x/31/f6/ef/31f6ef6e437a71a4f8aedcbbd71c0dc8.jpg",
    alt: "#_",
  },
  {
    src: "https://i.pinimg.com/564x/ff/a9/67/ffa967e349b2146446e2dee7ac002994.jpg",
    alt: "#_",
  },
];
---

<BaseLayout>
  <section
    class="grid place-items-center w-full mx-auto 2xl:max-w-7xl justify-center py-24 relative p-8">
    <div
      class="prose text-gray-500 prose-sm prose-headings:font-normal prose-headings:text-xl w-full">
      <div>
        <h1>Expandable image gallery</h1>
        <p class="text-balance">Hover over the images to see how it works.</p>
      </div>
    </div>
    <div class="flex gap-4 mt-12 pt-12 border-t">
      {
        images.map((image) => (
          <figure class="relative w-32 h-80 flex-1 overflow-hidden bg-background rounded-2xl  transition-all duration-500 ease-in-out hover:flex-[2] hover:cursor-pointer hover:rounded-xl group">
            <img
              class="relative h-80 object-cover transition-all duration-500 ease-in-out  group-hover:w-full"
              src={image.src}
              alt={image.alt}
            />
          </figure>
        ))
      }
      <!-- Starts links to tutorial -->
      <div
        class="pointer-events-none fixed inset-x-0 bottom-0 sm:flex sm:justify-center p-2">
        <div
          class="pointer-events-auto flex w-full max-w-md divide-x divide-neutral-200 rounded-lg bg-white shadow-xl border border-neutral-200">
          <div class="flex w-0 flex-1 items-center p-4">
            <div class="w-full">
              <p class="text-sm font-medium text-neutral-900">Tutorial</p>
              <p class="mt-1 text-sm text-neutral-500">
                How to create an expandable gallery with Tailwind CSS
              </p>
              <p class="mt-2 text-xs text-orange-600 underline">
                <a href="https://lexingtonthemes.com">
                  by © Lexington Themes</a
                >
              </p>
            </div>
          </div>
          <div class="flex">
            <div class="flex flex-col divide-y divide-neutral-200">
              <div class="flex h-0 flex-1">
                <a
                  href="https://lexingtonthemes.com/tutorials/how-to-create-an-expandable-gallery-with-tailwind-css/"
                  type="button"
                  class="flex w-full items-center justify-center rounded-none rounded-tr-lg px-4 py-3 text-sm font-medium text-orange-600 hover:text-orange-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-orange-600"
                  >Tutorial</a
                >
              </div>
              <div class="flex h-0 flex-1">
                <a
                  href="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/js-gridtoggle/index.astro"
                  class="flex w-full items-center justify-center rounded-none rounded-br-lg  px-4 py-3 text-sm font-medium text-neutral-700 hover:text-neutral-500 focus:outline-none focus:ring-2 focus:ring-orange-600"
                  >Get the code</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Ends links to tutorial -->
    </div>
  </section>
</BaseLayout>


