---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="bg-white relative overflow-hidden">
    <div
      class="w-full mx-auto 2xl:max-w-7xl flex flex-col justify-center py-24 relative p-8">
      <div class="max-w-xl mx-auto text-center">
        <div
          class="prose text-gray-500 prose-sm prose-headings:font-normal prose-headings:text-xl mx-auto max-w-sm w-full">
          <div>
            <h1>Tailwind CSS Ribbon</h1>
          </div>
        </div>
      </div>
      <!-- Starts component -->
      <div class="flex border-t max-w-xl mx-auto pt-12 mt-12">
        <div
          class="relative overflow-hidden p-8 lg:p-10 max-w-xs bg-white shadow-xl shadow-gray-500/30 border rounded-xl">
          <div class="absolute right-0 top-0 h-16 w-16">
            <div
              class="absolute transform rotate-45 bg-blue-600 text-center text-white font-semibold py-1 right-[-35px] top-[32px] w-[170px]">
              50% off
            </div>
          </div>
          <section class="flex flex-col h-full justify-between">
            <div>
              <div class="flex flex-col gap-2 w-full">
                <div class="flex flex-col gap-2">
                  <p
                    class="text-base font-medium uppercase tracking-tight text-gray-900">
                    full access
                  </p>
                  <p
                    class="font-semibold text-4xl tracking-tighter text-gray-900 mt-8">
                    $9/month
                  </p>
                </div>
                <p class="text-sm text-gray-500 mt-4">
                  This subscription tier caters to individuals and hobbyists
                  seeking fundamental features.
                </p>
              </div>
            </div>
            <div class="mt-8 flex w-full">
              <a
                class="rounded-full bg-blue-50 px-8 py-2 h-12 text-sm font-semibold text-blue-600 hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 items-center flex w-full justify-center"
                >Get started</a
              >
            </div>
          </section>
        </div>
      </div>
      <!-- Starts links to tutorial -->
      <div
        class="pointer-events-none fixed inset-x-0 bottom-0 sm:flex sm:justify-center p-2 ">
        <div
          class="pointer-events-auto flex w-full max-w-md divide-x divide-neutral-200 rounded-lg bg-white shadow-xl border">
          <div class="flex w-0 flex-1 items-center p-4">
            <div class="w-full">
              <p class="text-sm font-medium text-neutral-900">Tutorial</p>
              <p class="mt-1 text-sm text-neutral-500">
                How to create a ribbon for a pricing card with Tailwind CSS
              </p>
              <p class="mt-2 text-xs text-blue-600 underline">
                <a href="https://lexingtonthemes.com">
                  by © Lexington Themes</a
                >
              </p>
            </div>
          </div>
          <div class="flex">
            <div class="flex flex-col divide-y divide-neutral-200">
              <div class="flex h-0 flex-1">
                <a
                  href="https://lexingtonthemes.com/tutorials/how-to-create-a-ribbon-for-a-pricing-card-with-tailwind-css/"
                  type="button"
                  class="flex w-full items-center justify-center rounded-none rounded-tr-lg border border-transparent px-4 py-3 text-sm font-medium text-blue-600 hover:text-blue-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-600"
                  >Tutorial</a
                >
              </div>
              <div class="flex h-0 flex-1">
                <a
                  href="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/ribbon/index.astro"
                  class="flex w-full items-center justify-center rounded-none rounded-br-lg border border-transparent px-4 py-3 text-sm font-medium text-neutral-700 hover:text-neutral-500 focus:outline-none focus:ring-2 focus:ring-blue-600"
                  >Get the code</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Ends links to tutorial -->
    </div>
  </section>
</BaseLayout>
