---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TutorialBanner from "@/components/global/TutorialBanner.astro";
---

<BaseLayout>
  <section>
    <TutorialBanner
      tutorialUrl="https://lexingtonthemes.com/tutorials/how-to-create-a-tooltip-with-tailwind-css-and-alpinejs/"
      codeUrl="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/tooltip/index.astro"
    />
    <Wrapper class="py-24 lg:py-48">
      <div
        x-data="{ open: false, buttonHovered: false }"
        @mouseenter="open = true"
        @mouseleave="open = false"
        class="relative flex items-center justify-center duration-200"
      >
        <Button
          @mouseenter="buttonHovered = true"
          @mouseleave="buttonHovered = false"
          type="button"
          size="sm"
          variant="accent"
        >
          Hover over me babe
        </Button>

        <!--
        // This div is our tooltip.
        // x-show="open" means this div will only be visible when "open" is true.
        -->
        <div
          x-show="open && buttonHovered"
          class="absolute z-10 flex items-center justify-center w-56 h-20 mt-2 overflow-hidden text-center shadow-lg top-full rounded-md bg-accent-600"
          style="display: none;"
        >
          <div
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="options-menu"
          >
            <a
              href="#"
              class="block px-4 py-2 mx-auto text-xl text-white"
              role="menuitem"
            >
              Hello pomelo, I am your tooltip!
            </a>
          </div>
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
