---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TutorialBanner from "@/components/global/TutorialBanner.astro";
---

<BaseLayout>
  <section>
    <TutorialBanner
      tutorialUrl="https://lexingtonthemes.com/tutorials/how-to-create-a-javascript-free-dismissible-notification-with-only-tailwind-css/"
      codeUrl="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/tailwind-dissmissible-notification/index.astro"
    />
    <Wrapper class="py-24 lg:py-62 relative">
      <!-- Hidden checkbox to control visibility -->
      <input type="checkbox" id="notification-toggle" class="hidden peer" />
      <!-- Notification -->
      <div
        id="notification"
        class="relative bg-white rounded-lg shadow-lg ring-1 ring-base-200 peer-checked:hidden max-w-xl mx-auto"
      >
        <div class="p-4">
          <div class="flex items-start">
            <div class="flex-shrink-0">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-green-400"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path><path
                  d="M9 12l2 2l4 -4"></path></svg
              >
            </div>
            <div class="ml-3 w-0 flex-1 pt-0.5">
              <p class="text-sm font-medium text-base-900">
                Well done, you've successfully saved the file!
              </p>
            </div>
            <div class="flex flex-shrink-0 ml-4">
              <label
                for="notification-toggle"
                class="flex text-base-400 hover:text-base-500 focus:outline-none focus:ring-2 focus:ring-accent-500 focus:ring-offset-2"
              >
                <svg
                  class="w-5 h-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"
                  ></path>
                </svg>
              </label>
            </div>
          </div>
        </div>
      </div>

    
    </Wrapper>
  </section>
</BaseLayout>
