---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TutorialBanner from "@/components/global/TutorialBanner.astro";
---

<BaseLayout>
  <section>
    <TutorialBanner
      tutorialUrl="https://lexingtonthemes.com/tutorials/how-to-create-a-grid-toggle-with-tailwind-css-and-alpinejs/"
      codeUrl="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/gridtoggle/index.astro"
    />
    <Wrapper class="py-24 lg:py-48">
      <div x-data="{ isFourColumns: true }">
        <div class="flex justify-center">
          <!-- Toggle Button -->
          <button
            @click="isFourColumns = !isFourColumns"
            class="w-auto h-12 px-8 py-2 text-sm font-semibold text-white rounded-full bg-accent-600 hover:bg-accent-500 focus:outline-none focus:ring-2 focus:ring-accent-500 focus:ring-offset-2"
            x-text="isFourColumns ? 'Switch to 2 Columns' : 'Switch to 4 Columns'"
          >
          </button>
        </div>
        <!-- Grid Layout -->
        <div
          :class="{'grid-cols-4': isFourColumns, 'grid-cols-2': !isFourColumns}"
          class="max-w-xl mx-auto mt-4 grid gap-2"
        >
          <!-- Items in the Grid -->
          <div class="p-8 rounded-lg bg-base-100">Item 1</div>
          <div class="p-8 rounded-lg bg-base-100">Item 2</div>
          <div class="p-8 rounded-lg bg-base-100">Item 3</div>
          <div class="p-8 rounded-lg bg-base-100">Item 4</div>
          <div class="p-8 rounded-lg bg-base-100">Item 5</div>
          <div class="p-8 rounded-lg bg-base-100">Item 6</div>
          <div class="p-8 rounded-lg bg-base-100">Item 7</div>
          <div class="p-8 rounded-lg bg-base-100">Item 8</div>
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
