---
import BaseLayout from "@/layouts/BaseLayout.astro";
const milestones = [
  {
    date: "August 2021",
    title: "Company Inception",
    description: "The company was born out of a vision to innovate. ",
  },
  {
    date: "December 2021",
    title: "Achieved $65 Million Funding",
    description:
      "In an affirmation of our potential and promise, we secured a substantial funding of $65 million. ",
  },
  {
    date: "February 2022",
    title: "Beta Version Launch",
    description:
      "Marking a significant step forward, we released the beta version of our product. ",
  },
  {
    date: "December 2022",
    title: "Product's Global Rollout",
    description:
      "The culmination of our efforts and dedication led to the global launch of our product. ",
  },
];
---

<BaseLayout>
  <section x-data="{ darkMode: false }">
    <div
      :class="{ 'dark': darkMode }"
      class="bg-white dark:bg-gray-800 transition-colors duration-500">
      <div
        class="w-full mx-auto 2xl:max-w-7xl items-center flex flex-col lg:h-svh justify-center py-24 lg:py-96 relative p-8">
        <div
          class="prose text-gray-500 prose-sm prose-headings:font-normal prose-headings:text-xl mx-auto">
          <div>
            <h1>Dark mode toggle</h1>
            <p class="text-balance">
              Test the dark mode toggle by clicking on the button below.
            </p>
          </div>
        </div>
        <div class="mt-6 border-t  border-neutral-200  pt-12">
          <!-- Starts component -->

          <!-- Dark Mode Class -->
          <div

            class="bg-white dark:bg-gray-800 rounded-2xl p-8 border">
            <!-- Your content here -->
            <div
              class="mx-auto grid grid-cols-1 gap-8 overflow-hidden lg:mx-0 lg:grid-cols-4">
              {
                milestones.map((milestone) => (
                  <div>
                    <time
                      datetime={milestone.date}
                      class="flex items-center text-sm font-semibold leading-6 text-orange-600 dark:text-orange-400">
                      <svg
                        viewBox="0 0 4 4"
                        class="mr-4 h-1 w-1 flex-none"
                        aria-hidden="true">
                        <circle
                          cx="2"
                          cy="2"
                          r="2"
                          fill="currentColor"
                        />
                      </svg>

                      {new Date(milestone.date).toLocaleString("default", {
                        month: "short",
                        year: "numeric",
                      })}
                      <div
                        class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 dark:bg-gray-500 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0"
                        aria-hidden="true"
                      />
                    </time>
                    <p class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900 dark:text-white">
                      {milestone.title}
                    </p>
                    <p class="mt-1 text-sm text-pretty leading-7 text-gray-500 dark:text-gray-300">
                      {milestone.description}
                    </p>
                  </div>
                ))
              }
            </div>
          </div>
          <!-- Dark Mode Toggle -->
          <div class="mt-8 mx-auto w-full max-w-sm">
            <button
              @click="darkMode = !darkMode"
              class="inline-flex items-center gap-x-2 rounded-full bg-orange-600 px-4 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-orange-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600 w-full">
              <span
                x-show="!darkMode"
                class="flex items-center justify-between gap-3 w-full transition-colors duration-500">
                Toggle Dark Mode
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"
                  ></path>
                </svg>
              </span>
              <span
                x-show="darkMode"
                class="flex items-center gap-3 justify-between w-full transition-colors duration-500">
                Toggle Light Mode
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
                  ></path>
                </svg>
              </span>
            </button>
          </div>
          <!-- Ends component -->
        </div>
      </div>
    </div>
  </section>
  <!-- Starts links to tutorial -->
  <div
    class="pointer-events-none fixed inset-x-0 bottom-0 sm:flex sm:justify-center p-2 ">
    <div
      class="pointer-events-auto flex w-full max-w-md divide-x divide-neutral-200 rounded-lg bg-white shadow-xl border border-neutral-200">
      <div class="flex w-0 flex-1 items-center p-4">
        <div class="w-full">
          <p class="text-sm font-medium text-neutral-900">Tutorial</p>
          <p class="mt-1 text-sm text-neutral-500">
            How to create a dark mode toggle with Tailwind CSS and Alpinejs
          </p>
          <p class="mt-2 text-xs text-orange-500 underline">
            <a href="https://lexingtonthemes.com"> by © Lexington Themes</a>
          </p>
        </div>
      </div>
      <div class="flex">
        <div class="flex flex-col divide-y divide-neutral-200">
          <div class="flex h-0 flex-1">
            <a
              href="https://lexingtonthemes.com/tutorials/how-to-create-a-theme-toggle-with-tailwind-css-and-alpine-js/"
              type="button"
              class="flex w-full items-center justify-center rounded-none rounded-tr-lg px-4 py-3 text-sm font-medium text-orange-600 hover:text-orange-500 focus:z-10 focus:outline-none focus:ring-2 focus:ring-orange-500"
              >Tutorial</a
            >
          </div>
          <div class="flex h-0 flex-1">
            <a
              href="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/theme-toggle/index.astro"
              class="flex w-full items-center justify-center rounded-none rounded-br-lg  px-4 py-3 text-sm font-medium text-neutral-700 hover:text-neutral-500 focus:outline-none focus:ring-2 focus:ring-orange-500"
              >Get the code</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Ends links to tutorial -->
</BaseLayout>
