---
const features = [
  {
    number: "01.",
    title: " User-friendly Interface",
    description: "Our platform is designed with the user in mind.",
  },
  {
    number: "02.",
    title: " Customizable",
    description: "Our platform allows for customizable branding.",
  },
  {
    number: "03.",
    title: "Scheduled Orders",
    description: "Our platform allows for scheduled orders.",
  },
  {
    number: "04.",
    title: "Allergen Filtering",
    description: "Our platform includes an allergen filtering feature.",
  },
];
---
<section class="relative bg-[black]">

  <div
    class="relative px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-32 lg:py-24 space-y-24"
  >
    <div class="mt-6 list-none grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-24">
      <div>
        <p
          class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text"
        >
          Embrace the future of payments
        </p><p class="mt-8 text-3xl font-normal text-white trackingt-tight">
          Seamlessly embrace the convenience and security
        </p>
        <p class="mt-4 text-base text-vulcan-300">
          Our advanced digital wallet solution, enabling you to make secure and
          streamlined transactions across various merchants, both online and
          offline.
        </p>
        <div class="flex flex-wrap mt-10">
          <a
            href="/system/overview"
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white border rounded-lg transition-all bg-vulcan-900 hover:text-indigo-400 border-vulcan-700"
            >See all pages</a
          >
        </div>
      </div>
      <div class="h-full mt-12 lg:mt-0">
        <img
          alt="Lexington thumbnail"
          class="w-full shadow-2xl rounded-2xl shadow-vulcan-950/50"
          src="/assets/card2.svg"
        />
      </div>
    </div>
    <ul
      class="mt-12 list-none grid grid-cols-2 gap-6 md:grid-cols-4 lg:gap-12 lg:mt-24"
      role="list"
    >
      {
        features.map((feature) => (
          <li>
            <div>
              <p class="text-sm font-medium text-indigo-400">
                {feature.number}
              </p>
              <p class="mt-6 text-lg font-medium text-white lg:text-xl">
                {feature.title}
              </p>
            </div>
            <div class="mt-2 text-base text-vulcan-300">
              {feature.description}
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>



