---
const features = [
  {
    number: "01.",
    title: " User-friendly Interface",
    description: "Our platform is designed with the user in mind.",
  },
  {
    number: "02.",
    title: " Customizable",
    description: "Our platform allows for customizable branding.",
  },
  {
    number: "03.",
    title: "Scheduled Orders",
    description: "Our platform allows for scheduled orders.",
  },
  {
    number: "04.",
    title: "Allergen Filtering",
    description: "Our platform includes an allergen filtering feature.",
  },
];
---
<section class="relative bg-[black]">

  <div
    class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative space-y-24"
  >
    <div class="grid grid-cols-1 gap-4 mt-6 list-none lg:grid-cols-2 lg:gap-24">
      <div>
        <p
          class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text"
        >
          Embrace the future of payments
        </p><p class="text-3xl mt-8 font-normal text-white trackingt-tight">
          Seamlessly embrace the convenience and security
        </p>
        <p class="mt-4 text-base text-vulcan-300">
          Our advanced digital wallet solution, enabling you to make secure and
          streamlined transactions across various merchants, both online and
          offline.
        </p>
        <div class="flex flex-wrap mt-10">
          <a
            href="/system/overview"
            class="rounded-lg px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-center bg-vulcan-900 text-white hover:text-indigo-400 h-10 border-vulcan-700"
            >See all pages</a
          >
        </div>
      </div>
      <div class="lg:mt-0 mt-12 h-full">
        <img
          alt="Lexington thumbnail"
          class="rounded-2xl shadow-2xl shadow-vulcan-950/50 w-full"
          src="/assets/card2.svg"
        />
      </div>
    </div>
    <ul
      class="grid grid-cols-2 gap-6 mt-12 list-none md:grid-cols-4 lg:gap-12 lg:mt-24"
      role="list"
    >
      {
        features.map((feature) => (
          <li>
            <div>
              <p class="text-sm font-medium text-indigo-400">
                {feature.number}
              </p>
              <p class="text-lg mt-6 font-medium text-white lg:text-xl">
                {feature.title}
              </p>
            </div>
            <div class="mt-2 text-base text-vulcan-300">
              {feature.description}
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>



