---
import BaseLayout from "@/layouts/BaseLayout.astro";
---


<BaseLayout>
  <section class="bg-white relative overflow-hidden">
    <div
      class="w-full mx-auto 2xl:max-w-7xl flex flex-col justify-center py-24 relative p-8">
      <div class="max-w-xl mx-auto text-center">
        <div
          class="prose text-gray-500 prose-sm prose-headings:font-normal prose-headings:text-xl mx-auto max-w-sm w-full">
          <div>
            <h1>JavaScript-free modal popup</h1>
            <p>
              Click on the button to see the modal. Then close the modal by
              clicking on the close button inside the modal.
            </p>
          </div>
        </div>
      </div>
      <!-- Starts component -->
      <div class="max-w-xs mx-auto text-center mt-12 pt-12 border-t w-full">
        <!-- Hidden checkbox -->
        <input
          type="checkbox"
          id="modal-toggle"
          class=" hidden peer"
        />

        <!-- Trigger Button -->
        <label
          for="modal-toggle"
          class="flex items-center rounded-full bg-blue-600 px-8 py-2 h-12 text-sm font-semibold text-white hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 w-full cursor-pointer justify-center">
          Open Modal
        </label>
        <!-- Modal -->
        <div
          class=" peer-checked:flex hidden fixed inset-0 bg-gray-500 bg-opacity-50 overflow-y-auto h-full w-full items-center justify-center">
          <div
            class="relative p-8 bg-white w-full max-w-md m-auto flex-col flex rounded-3xl">
            <div class="text-center">
              <h3 class="text-xl font-semibold">I am the popular modal</h3>
              <p class="text-gray-500 mt-2 text-balance">
                This is the content of the modal. <br /> You can place any HTML content
                here.
              </p>
            </div>
            <label
              for="modal-toggle"
              class="mt-4 flex items-center rounded-full border hover:border-none px-8 py-2 h-12 text-sm font-semibold text-blue-600 lg:text-blue-700 hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 w-full cursor-pointer justify-center">
              Close Modal
            </label>
          </div>
        </div>
      </div>

      <!-- Starts links to tutorial -->
      <div
        class="pointer-events-none fixed inset-x-0 bottom-0 sm:flex sm:justify-center p-2 sr-only">
        <div
          class="pointer-events-auto flex w-full max-w-md divide-x divide-neutral-200 rounded-lg bg-white shadow-xl border">
          <div class="flex w-0 flex-1 items-center p-4">
            <div class="w-full">
              <p class="text-sm font-medium text-neutral-900">Tutorial</p>
              <p class="mt-1 text-sm text-neutral-500">
                How to create a JavaScript-free modal popup with only Tailwind
                CSS
              </p>
              <p class="mt-2 text-xs text-orange-600 underline">
                <a href="https://lexingtonthemes.com">
                  by © Lexington Themes</a
                >
              </p>
            </div>
          </div>
          <div class="flex">
            <div class="flex flex-col divide-y divide-neutral-200">
              <div class="flex h-0 flex-1">
                <a
                  href="https://lexingtonthemes.com/tutorials/how-to-create-a-javascript-free-modal-popup-with-only-tailwind-css/"
                  type="button"
                  class="flex w-full items-center justify-center rounded-none rounded-tr-lg border border-transparent px-4 py-3 text-sm font-medium text-orange-600 hover:text-orange-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-orange-600"
                  >Tutorial</a
                >
              </div>
              <div class="flex h-0 flex-1">
                <a
                  href="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/tailwind-modal/index.astro"
                  class="flex w-full items-center justify-center rounded-none rounded-br-lg border border-transparent px-4 py-3 text-sm font-medium text-neutral-700 hover:text-neutral-500 focus:outline-none focus:ring-2 focus:ring-orange-600"
                  >Get the code</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Ends links to tutorial -->
    </div>
  </section>
</BaseLayout>
