---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="bg-white relative overflow-hidden">
    <div
      class="w-full mx-auto 2xl:max-w-7xl flex flex-col justify-center py-24 relative p-8">
      <div class="max-w-xl mx-auto text-center">
        <div
          class="prose text-gray-500 prose-sm prose-headings:font-normal prose-headings:text-xl mx-auto max-w-sm w-full">
          <div>
            <h1>HTML ruby tag</h1>
          </div>
        </div>
      </div>
      <div class="max-w-md mx-auto mt-12 pt-12 border-t w-full">
        <!-- Starts component -->
        <div class="prose divide-y border-b">
          <div class="pb-4">
            <h3>Proper usage</h3>
            <p>
              Here is a sentence with a ruby annotation:
              <ruby>
                漢 <rp>(</rp><rt>かん</rt><rp>)</rp>
                字 <rp>(</rp><rt>じ</rt><rp>)</rp>
              </ruby>.
            </p>
          </div>
          <div class="pb-4">
            <h3>Basic with Tailwind CSS</h3>
            <ruby class="text-gray-800">
              漢 <rp>(</rp><rt class="text-sm text-gray-500">かん</rt><rp>)</rp>
              字 <rp>(</rp><rt class="text-sm text-gray-500">じ</rt><rp>)</rp>
            </ruby>
          </div>
          <div class="pb-4">
            <h3>Advanced styling with Tailwind CSS</h3>
            <ruby class="text-gray-900">
              漢 <rp>(</rp><rt
                class="text-xs text-gray-600 block relative top-[-0.5em]"
                >かん</rt
              ><rp>)</rp>
              字 <rp>(</rp><rt
                class="text-xs text-gray-600 block relative top-[-0.5em]">じ</rt
              ><rp>)</rp>
            </ruby>
          </div>

          <!-- Ends component -->
        </div>
        <!-- Starts links to tutorial -->
        <div
          class="pointer-events-none fixed inset-x-0 bottom-0 sm:flex sm:justify-center p-2 ">
          <div
            class="pointer-events-auto flex w-full max-w-md divide-x divide-neutral-200 rounded-lg bg-white shadow-xl border">
            <div class="flex w-0 flex-1 items-center p-4">
              <div class="w-full">
                <p class="text-sm font-medium text-neutral-900">Tutorial</p>
                <p class="mt-1 text-sm text-neutral-500">
                  How to Use the ruby element for enhanced text annotations in
                  HTML
                </p>
                <p class="mt-2 text-xs text-orange-600 underline">
                  <a href="https://lexingtonthemes.com">
                    by © Lexington Themes</a
                  >
                </p>
              </div>
            </div>
            <div class="flex">
              <div class="flex flex-col divide-y divide-neutral-200">
                <div class="flex h-0 flex-1">
                  <a
                    href="https://lexingtonthemes.com/tutorials/how-to-use-the-html-ruby-element-for-enhanced-text-annotations-in-html"
                    type="button"
                    class="flex w-full items-center justify-center rounded-none rounded-tr-lg border border-transparent px-4 py-3 text-sm font-medium text-orange-600 hover:text-orange-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-orange-600"
                    >Tutorial</a
                  >
                </div>
                <div class="flex h-0 flex-1">
                  <a
                    href="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/html-ruby-tag/index.astro"
                    class="flex w-full items-center justify-center rounded-none rounded-br-lg border border-transparent px-4 py-3 text-sm font-medium text-neutral-700 hover:text-neutral-500 focus:outline-none focus:ring-2 focus:ring-orange-600"
                    >Get the code</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Ends links to tutorial -->
      </div>
    </div>
  </section>
</BaseLayout>
