---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TutorialBanner from "@/components/global/TutorialBanner.astro";
const avatars = [
  { id: 1, src: "/avatars/8.png", alt: "Avatar 1" },
  { id: 2, src: "/avatars/7.png", alt: "Avatar 2" },
  { id: 3, src: "/avatars/6.png", alt: "Avatar 3" },
  { id: 4, src: "/avatars/5.png", alt: "Avatar 4" },
];
---

<BaseLayout>
  <section>
    <TutorialBanner
      tutorialUrl="https://lexingtonthemes.com/tutorials/how-to-create-a-animated-avatar-stack-widget-with-tailwind-css/"
      codeUrl="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/animated-avatar-widget/index.astro"
    />
    <Wrapper class="py-24 lg:py-62 flex flex-col items-center justify-center">
      <!-- Starts component -->

      <div class="flex isolate -space-x-2">
        {
          avatars.map((avatar, index) => (
            <img
              class={`relative inline-block size-24 rounded-full object-cover ring-2 ring-white transition-all duration-300 ease-in-out hover:-translate-y-3 hover:scale-110`}
              style={{ zIndex: avatars.length - index }}
              src={avatar.src}
              alt={avatar.alt}
            />
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
