---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TutorialBanner from "@/components/global/TutorialBanner.astro";
---

<BaseLayout>
  <section x-data="{ isOpen: false }">
    <TutorialBanner
      tutorialUrl="https://lexingtonthemes.com/tutorials/how-to-create-a-search-input-with-tailwind-css-and-alpinejs/"
      codeUrl="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/search/index.astro"
    />
    <Wrapper class="py-24 lg:py-48">
      <div
        class="max-w-xs mx-auto"
        x-data="{
            searchQuery: '',
            items: [
                'Milano', 'Alicante', 'Switzerland', 'Bilbao', 'Åland Islands', 'Stockholm', 'Torrevieja', 'Minneapolis'
            ].map(item => ({ name: item }))
        }"
      >
        <!-- Search Input -->
        <input
          type="text"
          x-model="searchQuery"
          placeholder="Search..."
          class="w-full text-sm border-base-300 rounded-md placeholder-base-400 focus:border-accent-500 focus:ring-accent-500"
        />

        <!-- Filtered Items -->
        <ul class="mt-12 text-sm list-disc list-inside space-y-2 text-base-500">
          <template x-for="item in items" :key="item.name">
            <li
              x-show="item.name.toLowerCase().includes(searchQuery.toLowerCase())"
              x-text="item.name"
            >
            </li>
          </template>
        </ul>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
