---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TutorialBanner from "@/components/global/TutorialBanner.astro";
---

<BaseLayout>
  <section>
    <!-- Starts links to tutorial -->
    <TutorialBanner
      tutorialUrl="https://lexingtonthemes.com/tutorials/how-to-change-background-coloron-scroll-with-tailwind-css-and-javascript"
      codeUrl="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/js-tooltip/index.astro"
    />
    <!-- Ends links to tutorial -->
    <Wrapper id="header" class="py-24">
      <div class="text-center">Scroll down</div>
    </Wrapper>
    <section
      id="section-1"
      class="flex flex-col items-center justify-center p-20 text-4xl h-svh 2xl:text-8xl pt-80 transition-colors duration-500 ease-in-out"
    >
      <h2>Section #01</h2>
    </section>
    <section
      id="section-2"
      class="flex flex-col items-center justify-center p-20 text-4xl h-svh 2xl:text-8xl transition-colors duration-500 ease-in-out"
    >
      <h2 class="text-white">Section #02</h2>
    </section>
    <section
      id="section-3"
      class="flex flex-col items-center justify-center p-20 text-4xl h-svh 2xl:text-8xl transition-colors duration-500 ease-in-out"
    >
      <h2 class="text-white">Section #03</h2>
    </section>
  </section>
  <script type="module">
    document.addEventListener("scroll", () => {
      const header = document.getElementById("header");
      const sections = [
        {
          element: document.getElementById("section-1"),
          offset: 50,
          color: "#e9e9e9",
        },
        {
          element: document.getElementById("section-2"),
          offset: 150,
          color: "#f92c1c",
        },
        {
          element: document.getElementById("section-3"),
          offset: 250,
          color: "#000000",
        },
      ];

      // Delay the style changes by 100ms
      setTimeout(() => {
        header.classList.toggle("bg-white", window.scrollY > 50);
        header.classList.toggle("bg-transparent", window.scrollY <= 50);

        sections.forEach((section) => {
          if (window.scrollY > section.offset) {
            section.element.style.backgroundColor = section.color;
          } else {
            section.element.style.backgroundColor = "white";
          }
        });
      }, 100); // 100ms delay
    });
  </script>
</BaseLayout>
