---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TutorialBanner from "@/components/global/TutorialBanner.astro";
---

<BaseLayout>
  <section>
    <TutorialBanner
      tutorialUrl="https://lexingtonthemes.com/tutorials/how-to-create-an-exapandable-search-bar-with-tailwind-css/"
      codeUrl="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/animated-expanding-search-bar/index.astro"
    />
    <Wrapper class="py-24 lg:py-62">
      <!-- Starts component -->
      <form class="relative justify-center w-full max-w-md mx-auto">
        <input
          type="search"
          class="relative z-10 flex items-center w-32 h-12 pl-12 bg-transparent border outline-none cursor-pointer peer rounded-xl border-base-200 focus:w-full focus:cursor-text focus:border-accent-300 focus:ring-accent-600 focus:pl-32 focus:pr-4 duration-300"
        />
        <div
          class="absolute inset-y-0 my-auto h-6 w-32 px-3.5 peer-focus:text-accent-500"
        >
          <div class="flex items-center justify-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-4"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-search"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path
                d="M21 21l-6 -6"></path></svg
            >
            <span>Search</span>
          </div>
        </div>
      </form>
    </Wrapper>
  </section>
</BaseLayout>
