---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="bg-white">
    <div
      class="w-full mx-auto max-w-xl flex flex-col lg:h-svh justify-center py-24 lg:py-96 relative p-8">
      <div
        class="prose text-gray-500 prose-sm prose-headings:font-normal prose-headings:text-xl">
        <div>
          <h1>Image gallery</h1>
          <p class="text-balance">
            Click on the image to view it in full screen and click outside the
            image or press ESC to close it.
          </p>
        </div>
      </div>
      <div class="mt-6 border-t pt-12">
        <!-- Starts component -->
        <div
          x-data="{ currentImage: null }"
          x-init="() => {
    window.addEventListener('keydown', (event) => {
        if (event.key === 'Escape') {
            currentImage = null;
        }
    });
}">
          <div class="grid grid-cols-3 gap-4">
            <div
              x-on:click="currentImage = 'https://i.pinimg.com/564x/59/41/a0/5941a02c048f6226031a0487451c2651.jpg'"
              class="cursor-pointer">
              <img
                src="https://i.pinimg.com/564x/59/41/a0/5941a02c048f6226031a0487451c2651.jpg"
                alt="Image 1"
                class="w-full h-auto aspect-[3/4] object-cover"
              />
            </div>
            <div
              x-on:click="currentImage = 'https://i.pinimg.com/736x/70/25/f6/7025f63ebdd1caa11b47889c4c4d8fcd.jpg'"
              class="cursor-pointer">
              <img
                src="https://i.pinimg.com/736x/70/25/f6/7025f63ebdd1caa11b47889c4c4d8fcd.jpg"
                alt="Image 2"
                class="w-full h-auto aspect-[3/4] object-cover"
              />
            </div>
            <div
              x-on:click="currentImage = 'https://i.pinimg.com/564x/4e/a7/ff/4ea7ff230ad9f3bc1c30b1b6cbaccad3.jpg'"
              class="cursor-pointer">
              <img
                src="https://i.pinimg.com/564x/4e/a7/ff/4ea7ff230ad9f3bc1c30b1b6cbaccad3.jpg"
                alt="Image 3"
                class="w-full h-auto aspect-[3/4] object-cover"
              />
            </div>
            <!-- Add more image placeholders as needed -->
          </div>

          <!-- Modal -->
          <div
            x-show="currentImage"
            class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 transition-opacity duration-300">
            <div
              @click.away="currentImage = null"
              class="max-w-full max-h-full overflow-auto">
              <img
                :src="currentImage"
                alt="Full Size Image"
                class="max-w-full max-h-full mx-auto"
              />
            </div>
          </div>
        </div>
        <!-- Ends component -->
      </div>
    </div>
  </section>
</BaseLayout>
