---
import BaseLayout from "@/layouts/BaseLayout.astro";
const faqs = [
  {
    question: "What is Tailwind CSS?",
    answer:
      "Tailwind CSS is a utility-first CSS framework for rapidly building custom designs. It allows you to style your elements directly in your HTML using predefined classes.",
  },
  {
    question: "How does the peer class work in Tailwind CSS?",
    answer:
      "The `peer` class in Tailwind CSS allows you to style elements based on the state of a sibling element. It is commonly used in combination with hidden checkboxes or radio buttons to create interactive components without JavaScript.",
  },
  {
    question: "Can Tailwind CSS replace traditional CSS frameworks?",
    answer:
      "Tailwind CSS offers a different approach compared to traditional CSS frameworks like Bootstrap. It provides more flexibility and customizability, making it suitable for projects where a high degree of design control is desired.",
  },
];
---

<BaseLayout>
  <section class="bg-white relative overflow-hidden">
    <div
      class="w-full mx-auto 2xl:max-w-7xl flex flex-col justify-center py-24 relative p-8">
      <div class="max-w-xl mx-auto text-center">
        <div
          class="prose text-gray-500 prose-sm prose-headings:font-normal prose-headings:text-xl mx-auto max-w-sm w-full">
          <div>
            <h1>JavaScript-free dismissible notification</h1>
            <p>Click on the button to see the notification disappear.</p>
          </div>
        </div>
      </div>
      <div class="max-w-md mx-auto mt-12 pt-12 border-t w-full">
        <!-- Starts component -->
        <div class="prose space-y-4">
          {
            faqs.map((faq, index) => (
              <div class="border-b border-gray-200">
                <input
                  type="checkbox"
                  id={`faq${index}`}
                  class="peer hidden"
                />
                <label
                  for={`faq${index}`}
                  class="flex items-center justify-between  cursor-pointer py-2">
                  <h4>{faq.question}</h4>
                  <svg
                    class="size-4 text-gray-500 peer-checked:rotate-180 transition-transform duration-300"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 9l-7 7-7-7"
                    />
                  </svg>
                </label>
                <div class="overflow-hidden max-h-0 peer-checked:max-h-screen transition-all duration-500">
                  <p>{faq.answer}</p>
                </div>
              </div>
            ))
          }
        </div>
        <!-- Ends component -->
      </div>

      <!-- Starts links to tutorial -->
      <div
        class="pointer-events-none fixed inset-x-0 bottom-0 sm:flex sm:justify-center p-2">
        <div
          class="pointer-events-auto flex w-full max-w-md divide-x divide-neutral-200 rounded-lg bg-white shadow-xl border">
          <div class="flex w-0 flex-1 items-center p-4">
            <div class="w-full">
              <p class="text-sm font-medium text-neutral-900">Tutorial</p>
              <p class="mt-1 text-sm text-neutral-500">
                How to create a JavaScript-Free animated accordion faq section
                with only Tailwind CSS
              </p>
              <p class="mt-2 text-xs text-orange-600 underline">
                <a href="https://lexingtonthemes.com">
                  by © Lexington Themes</a
                >
              </p>
            </div>
          </div>
          <div class="flex">
            <div class="flex flex-col divide-y divide-neutral-200">
              <div class="flex h-0 flex-1">
                <a
                  href="https://lexingtonthemes.com/tutorials/how-to-create-a-javascript-free-animated-accordion-faq-section-with-only-tailwind-css"
                  type="button"
                  class="flex w-full items-center justify-center rounded-none rounded-tr-lg border border-transparent px-4 py-3 text-sm font-medium text-orange-600 hover:text-orange-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-orange-600"
                  >Tutorial</a
                >
              </div>
              <div class="flex h-0 flex-1">
                <a
                  href="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/tailwind-faq/index.astro"
                  class="flex w-full items-center justify-center rounded-none rounded-br-lg border border-transparent px-4 py-3 text-sm font-medium text-neutral-700 hover:text-neutral-500 focus:outline-none focus:ring-2 focus:ring-orange-600"
                  >Get the code</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Ends links to tutorial -->
    </div>
  </section>
</BaseLayout>

