---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TutorialBanner from "@/components/global/TutorialBanner.astro";
---

<style>
  @keyframes gradient-shift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .animate-gradient {
    animation: gradient-shift 15s ease infinite;
  }
</style>

<!--
// This is a representation of how would you write the CSS part on the tailwind.configjs file
//
//
// module.exports = {
//    theme: {
//      extend: {
//        keyframes: {
//          "gradient-shift": {
//            "0%, 100%": { backgroundPosition: "0% 50%" },
//            "50%": { backgroundPosition: "100% 50%" },
//          },
//        },
//        animation: {
//          gradient: "gradient-shift 15s ease infinite",
//        },
//      },
//    },
//    plugins: [],
//  };
-->

<BaseLayout>
  <section class="flex flex-col items-center justify-center h-screen">
    <TutorialBanner
      tutorialUrl="https://lexingtonthemes.com/tutorials/how-to-create-animated-background-gradient-with-tailwind-css/"
      codeUrl="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/animated-background-gradient/index.astro"
    />
    <Wrapper class="relative w-full h-full overflow-hidden">
      <!-- Background layer -->
      <div
        class="absolute inset-0 bg-gradient-to-br from-accent-400 via-indigo-500 to-cyan-500 animate-gradient bg-[length:400%_400%]"
      >
      </div>

      <!-- Overlay patterns -->
      <div class="absolute inset-0 opacity-30">
        <div
          class="absolute top-0 left-0 bg-white rounded-full w-96 h-96 mix-blend-overlay filter blur-3xl animate-pulse"
        >
        </div>
        <div
          class="absolute bottom-0 right-0 bg-yellow-300 rounded-full w-96 h-96 mix-blend-overlay filter blur-3xl animate-pulse"
        >
        </div>
      </div>

      <!-- Content -->
      <div class="relative z-10 flex items-center justify-center h-full">
        <div
          class="p-8 prose prose-sm prose-headings:font-normal prose-headings:text-xl bg-white/20 backgdrop-blur rounded-xl"
        >
          <div>
            <h1 class="text-white">Animated background gradient</h1>
            <p class="text-white text-balance">Just look at the screen...</p>
          </div>
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
