---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TutorialBanner from "@/components/global/TutorialBanner.astro";
---

<BaseLayout>
  <section>
    <!-- Starts links to tutorial -->
    <TutorialBanner
      tutorialUrl="https://lexingtonthemes.com/tutorials/how-to-create-a-search-input-with-tailwind-css-and-javascript/"
      codeUrl="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/js-search/index.astro"
    />
    <!--  Starts component -->
    <Wrapper class="py-24 lg:py-48">
      <div class="w-full max-w-sm mx-auto">
        <!-- Starts component -->

        <div id="search-component">
          <!-- Search Input -->
          <input
            type="text"
            id="search-input"
            placeholder="Search..."
            class="w-full text-sm border-base-300 rounded-md placeholder-base-400 focus:border-accent-500 focus:ring-accent-500"
          />

          <!-- Filtered Items -->
          <ul
            id="items-list"
            class="mt-12 text-sm list-disc list-inside space-y-2 text-base-500"
          >
            <!-- List items will be injected here by JavaScript -->
          </ul>
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>

<script type="module">
  document.addEventListener("DOMContentLoaded", function () {
    const searchComponent = document.getElementById("search-component");
    const searchInput = document.getElementById("search-input");
    const itemsList = document.getElementById("items-list");

    const items = [
      "Milano",
      "Alicante",
      "Switzerland",
      "Bilbao",
      "Åland Islands",
      "Stockholm",
      "Torrevieja",
      "Minneapolis",
    ];

    function renderItems(filter = "") {
      itemsList.innerHTML = "";
      const filteredItems = items.filter((item) =>
        item.toLowerCase().includes(filter.toLowerCase())
      );
      filteredItems.forEach((item) => {
        const li = document.createElement("li");
        li.textContent = item;
        itemsList.appendChild(li);
      });
    }

    searchInput.addEventListener("input", function () {
      renderItems(searchInput.value);
    });

    // Initial render
    renderItems();
  });
</script>
