---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TutorialBanner from "@/components/global/TutorialBanner.astro";
---

<BaseLayout>
  <div class="flex flex-col min-h-full">
    <!-- Main column wrapper -->
    <div class="w-full mx-auto max-w-7xl grow lg:flex xl:px-2">
      <!-- Left sidebar & main wrapper -->
      <div class="flex-1 xl:flex">
        <div
          class="px-4 py-6 border-b sm:px-6 lg:pl-8 xl:w-64 xl:shrink-0 xl:border-b-0 xl:border-r xl:pl-6"
        >
          <nav class="flex flex-col flex-1" aria-label="Sidebar">
            <p class="text-sm text-base-500">
              Here is where you put your sidebar content. You can make it fixed,
              sticky, or have it scroll.
            </p>
            <ul
              role="list"
              class="pt-6 mt-6 text-sm border-t space-y-3 border-base-200 text-base-500"
            >
              <li>Introduction</li>
              <li>Getting Started</li>
              <li>Basic Concepts</li>
              <li>Advanced Techniques</li>
              <li>Best Practices</li>
              <li>Troubleshooting</li>
              <li>API Reference</li>
              <li>Examples</li>
              <li>Frequently Asked Questions</li>
              <li>Community Resources</li>
            </ul>
          </nav>
        </div>
        <!-- Center column -->
        <div class="px-4 py-6 sm:px-6 lg:pl-8 xl:flex-1 xl:pl-6">
          <p class="text-sm text-base-500">Here goes your content.</p>
          <div
            class="w-full max-w-xl pt-6 mx-auto mt-6 border-t border-base-200"
          >
            <div class="prose prose-sm 2xl:text-lg text-base-500">
              <p>
                In the throbbing heart of London's vibrant streets, amidst the
                colorful tapestry of the 1980s, I drew my first breaths at St
                Thomas’ Hospital Medical School. An intricate blend of European
                heritage defines my roots - my father's lineage tracing back to
                the rolling hills of Italy, while my mother embodies the fiery
                spirit of Spain.
              </p>
              <p>
                My upbringing was a harmonious fusion of the majestic landscapes
                of northern Italy and the sun-drenched shores of southern Spain.
                From the quaint cobblestone streets of Borgosesia, Vercelli,
                Italy, to the majestic coastal cliffs of Gorliz, Bilbao, and the
                tranquil beaches of Torrevieja, Alicante, Spain, my formative
                years were an immersive journey through diverse cultures and
                breathtaking scenery.
              </p>
              <p>
                Passion became my guiding star from a tender age; I found solace
                and expression in the elegant contours of automotive design,
                sketching visions of sleek machines that seemed to dance with
                the wind. Equally at home amidst the crashing waves, I became a
                lifelong devotee of the ocean, finding solace and exhilaration
                atop a surfboard.
              </p>
              <p>
                The melodies of different languages became my symphony; fluent
                in the cadences of Castilian Spanish, the eloquence of English,
                the lyrical beauty of Italian, and the melodious tones of
                Swedish, I effortlessly traversed linguistic boundaries.
              </p>
              <p>
                Summers bathed in the Mediterranean sun found me standing as a
                vigilant sentinel along the Spanish coast, serving as a
                lifeguard, a silent guardian of lives amidst the azure expanse.
                Driven by the thirst for adventure and discovery, I ventured to
                the lush landscapes of Harrogate in my twenties, lured by the
                mystique of British life and culture.
              </p>
              <p>
                Yet, the siren call of my ancestral lands beckoned, and I
                returned to the warm embrace of Spanish sunshine, seeking solace
                amidst the familiar lands I had missed. Relocating to Helsinki
                with my beloved wife in 2011, and now finding sanctuary in the
                tranquil beauty of the Åland Islands, I stand proudly as both a
                father and a devoted husband.
              </p>
              <p>
                Inspired by a simple tweak of my Android phone settings, I
                embarked on a journey into the realm of web development.
                Launching my inaugural project, Colors and Fonts, in 2018, I
                have since dedicated myself to the art of digital creation,
                constantly refining and expanding my digital footprint.
              </p>
              <p>
                Despite encountering challenges, including developing projects
                on a laptop with a failing screen, I persevered, ultimately
                seeing two projects acquired in 2022. Initiating ventures such
                as Lexington Themes and Windstatic, I officially unveiled them
                to the world in February 2023.
              </p>
              <p>
                Simplicity and clarity have always been the guiding principles
                of my design philosophy. Consistency, both in life and work,
                serves as my steadfast companion, guiding my approach to web
                development, project management, and personal growth.
              </p>
              <p>
                Reflecting on my journey from the varied landscapes of Italy and
                Spain to the burgeoning tech scene of the Åland Islands, I have
                embraced the challenges and opportunities that each transition
                brought forth. Fueled by an unwavering passion for design,
                development, and entrepreneurship, I march forward, with
                consistency as the cornerstone of my success. As I continue to
                explore new ventures and embark on creative endeavors, I remain
                steadfastly committed to the principles of simplicity and
                clarity that define both my work and life philosophy.
              </p>
              <p>
                Thank you for taking the time to acquaint yourself with my
                story. I am filled with anticipation for the adventures that lie
                ahead, eagerly anticipating the ongoing evolution of my projects
                and personal endeavors. May your day be filled with beauty and
                inspiration.
              </p>
              <p>Michael Andreuzza</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Right sidebar  -->
      <div
        class="px-4 py-6 border-t shrink-0 border-base-200 sm:px-6 lg:w-96 lg:border-l lg:border-t-0 lg:pr-8 xl:pr-6"
      >
        <nav class="flex flex-col flex-1" aria-label="Sidebar">
          <p class="text-sm text-base-500">
            Here is where you put your page links content, CTAs, or anything
            extra you want to, and same as above, you can make it fixed, sticky,
            or have it scroll.
          </p>
          <ul
            role="list"
            class="pt-6 mt-6 text-sm border-t border-base-200 space-y-3 text-base-500"
          >
            <li>Quick reference</li>
            <li>Basic Usage</li>
            <li>AApplying conditionls</li>
            <li>Using custom values</li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!-- Starts links to tutorial -->
  <div
    class="fixed inset-x-0 bottom-0 p-2 pointer-events-none sm:flex sm:justify-center"
  >
    <div
      class="flex w-full max-w-md bg-white border rounded-lg shadow-xl pointer-events-auto divide-x divide-base-200 border-base-200"
    >
      <div class="flex items-center flex-1 w-0 p-4">
        <div class="w-full">
          <p class="text-sm font-medium text-base-900">Tutorial</p>
          <p class="mt-1 text-sm text-base-500">
            How to create a responsive multi-column layout with Tailwind CSS
          </p>
          <p class="mt-2 text-xs underline text-accent-500">
            <a href="https://lexingtonthemes.com"> by © Lexington Themes</a>
          </p>
        </div>
      </div>
      <div class="flex">
        <div class="flex flex-col divide-y divide-base-200">
          <div class="flex flex-1 h-0">
            <a
              href="https://lexingtonthemes.com/tutorials/how-to-create-a-responsive-multi-column-layout-with-tailwind-css/"
              type="button"
              class="flex items-center justify-center w-full px-4 py-3 text-sm font-medium rounded-none rounded-tr-lg text-accent-600 hover:text-accent-500 focus:z-10 focus:outline-none focus:ring-2 focus:ring-accent-500"
              >Tutorial</a
            >
          </div>
          <div class="flex flex-1 h-0">
            <a
              href="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/multi-column-layout/index.astro"
              class="flex items-center justify-center w-full px-4 py-3 text-sm font-medium rounded-none rounded-br-lg text-base-700 hover:text-base-500 focus:outline-none focus:ring-2 focus:ring-accent-500"
              >Get the code</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Ends links to tutorial -->
</BaseLayout>
