---
// Import the BaseLayout component from the layouts directory. This component is likely used as a wrapper for the page, providing consistent structure and styling.
import BaseLayout from "@/layouts/BaseLayout.astro";
// Define an array of objects named 'features'. Each object represents a feature of your platform or product,
// including properties for title, background image URL, description, background color, and title hover color.
const features = [
  {
    title: "Experience",
    bgImage:
      "https://www.yankodesign.com/images/design_news/2019/07/desk-setups-that-maximize-productivity-part-2/Desk-Setup_12.jpg",
    description:
      "Immerse yourself in a seamless experience where every touchpoint anticipates your needs. Description one.",
    bgColor: "bg-white/30 backdrop-blur",
  },
  {
    title: "Interaction",
    bgImage:
      "https://i.pinimg.com/564x/34/65/b8/3465b890b11571e2c876ae74dc1b3139.jpg",
    description:
      "Engage with a platform where interaction is intuitive, ensuring your journey is fluid and responsive. Description two.",
    bgColor: "bg-white/30 backdrop-blur",
  },
  {
    title: "Design",
    bgImage:
      "https://i.pinimg.com/564x/33/d6/54/33d654e8058fdf69e160dcbd2235cdac.jpg",
    description:
      "Discover our commitment to thoughtful design, prioritizing accessibility and user satisfaction. Description three.",
    bgColor: "bg-white/30 backdrop-blur",
  },
  {
    title: "Innovation",
    bgImage:
      "https://i.pinimg.com/564x/39/b8/01/39b801afe355e623bcb3928b1c1b046d.jpg",
    description:
      "Experience innovation at every step, with forward-thinking solutions designed to enhance your daily interactions. Description four.",
    bgColor: "bg-white/30 backdrop-blur",
  },
  {
    title: "Sustainability",
    bgImage:
      "https://i.pinimg.com/564x/2b/b5/48/2bb548dbf4a4c57381a7b7f736b4930b.jpg",
    description:
      "Join us in embracing sustainability, where design and functionality meet eco-conscious decisions. Description five.",
    bgColor: "bg-white/30 backdrop-blur",
  },
];
---

<BaseLayout>
  <section
    class="flex flex-col lg:h-svh justify-center items-center overflow-scroll">
    <div class="flex flex-wrap mx-auto md:flex-nowrap">
      {
        features.map((feature, index) => (
          <>
            <div class="relative flex flex-col items-start m-1 transition  ease-in-out duration-500  delay-150 transform  md:w-96 md:-ml-32 md:hover:-translate-x-32 md:hover:-translate-y-8 shrink-0 ">
              <article
                class="mx-auto   rounded-3xl overflow-hidden  bg-cover ring-2 ring-inset ring-white/50 bg-center min-h-150 relative   transform duration-500   group"
                style={`background-image: url('${feature.bgImage}');`}>
                <div
                  class={` relative h-full  group-hover:bg-opacity-0 min-h-150  flex flex-wrap flex-col pt-[30rem]  transform duration-500`}>
                  <div class=" group-hover:bg-black/30 duration-500 group-hover:backdrop-blur p-8 lg:p-10 h-full justify-end flex flex-col ">
                    <p class="opacity-0 text-white text-sm 2xl:text-lg group-hover:opacity-80 transform duration-500 ">
                      {feature.description}
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </>
        ))
      }
    </div>
    <!-- Starts links to tutorial -->
    <div
      class="pointer-events-none fixed inset-x-0 bottom-0 sm:flex sm:justify-center p-2">
      <div
        class="pointer-events-auto flex w-full max-w-md divide-x divide-neutral-200 rounded-lg bg-white shadow-xl border">
        <div class="flex w-0 flex-1 items-center p-4">
          <div class="w-full">
            <p class="text-sm font-medium text-neutral-900">Tutorial</p>
            <p class="mt-1 text-sm text-neutral-500">
              How to create a tooltip Tailwind CSS and Alpinejs
            </p>
            <p class="mt-2 text-xs text-orange-600 underline">
              <a href="https://lexingtonthemes.com"> by © Lexington Themes</a>
            </p>
          </div>
        </div>
        <div class="flex">
          <div class="flex flex-col divide-y divide-neutral-200">
            <div class="flex h-0 flex-1">
              <a
                href="https://lexingtonthemes.com/tutorials/how-to-create-animated-blog-cards-with-astrojs-and-tailwind-css/"
                type="button"
                class="flex w-full items-center justify-center rounded-none rounded-tr-lg border border-transparent px-4 py-3 text-sm font-medium text-orange-600 hover:text-orange-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-orange-600"
                >Tutorial</a
              >
            </div>
            <div class="flex h-0 flex-1">
              <a
                href="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/animated-blog-cards/index.astro"
                class="flex w-full items-center justify-center rounded-none rounded-br-lg border border-transparent px-4 py-3 text-sm font-medium text-neutral-700 hover:text-neutral-500 focus:outline-none focus:ring-2 focus:ring-orange-600"
                >Get the code</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Ends links to tutorial -->
  </section>
</BaseLayout>

{
  features.map((feature, index) => (
    <>
      <div class="relative flex flex-col items-start m-1 transition  ease-in-out duration-500  delay-150 transform  md:w-96 md:-ml-32 md:hover:-translate-x-32 md:hover:-translate-y-8 shrink-0 ">
        <article
          class="mx-auto   rounded-3xl overflow-hidden  bg-cover ring-2 ring-inset ring-white/50 bg-center min-h-150 relative   transform duration-500   group"
          style={`background-image: url('${feature.bgImage}');`}>
          <div
            class={` relative h-full  group-hover:bg-opacity-0 min-h-150  flex flex-wrap flex-col pt-[30rem]  transform duration-500`}>
            <div class=" group-hover:bg-black/30 duration-500 group-hover:backdrop-blur p-8 lg:p-10 h-full justify-end flex flex-col ">
              <p class="opacity-0 text-white text-sm 2xl:text-lg group-hover:opacity-80 transform duration-500 ">
                {feature.description}
              </p>
            </div>
          </div>
        </article>
      </div>
    </>
  ))
}
