---
// Import the BaseLayout from the layouts directory. .
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TutorialBanner from "@/components/global/TutorialBanner.astro";
// Define an array of objects, each representing a link with a href, title, and description.
// These are used to dynamically generate link elements in the UI.
const links = [
  {
    href: "#",
    title: "Explore design work",
    description: "Trending designs to inspire you",
  },
  {
    href: "#",
    title: "Blog",
    description: "Interviews, tutorials and more",
  },
  {
    href: "#",
    title: "Secure",
    description: "Secure your data efficiently",
  },
  {
    href: "#",
    title: "Users",
    description: "User engagement strategies",
  },
  // Additional link objects with an isActive property to denote if the link is currently active
];
---

<BaseLayout>
  <section>
    <TutorialBanner
      tutorialUrl="https://lexingtonthemes.com/tutorials/how-to-create-a-flyout-menu-with-astrojs-tailwind-css-and-alpinejs"
      codeUrl="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/flyout-menu/index.astro"
    />
    <Wrapper class="py-24 lg:py-48">
      <div
        @click.away="open = false"
        class="relative flex"
        x-data="{ open: false }"
      >
        <div class="mx-auto w-fit">
          <button
            @click="open = !open"
            class="justify-center mx-auto px-4 py-2 bg-[#626b82] rounded-full h-12 text-base text-left text-[#efefef] hover:bg-[#1f283a] duration-1000 focus:outline-none focus:shadow-outline focus:ring-[#1f283a] ring-2 ring-ofsset-4
                         ring-transparent"
          >
            I am your flyout menu
          </button>
          <!--
        // Dropdown Menu
        // Use transitions for smooth opening and closing of the dropdown menu
        -->
          <div
            x-show="open"
            x-transition:enter="transition ease-out duration-100"
            x-transition:enter-start="transform opacity-0 scale-95"
            x-transition:enter-end="transform opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-75"
            x-transition:leave-start="transform opacity-100 scale-100"
            x-transition:leave-end="transform opacity-0 scale-95"
            class="absolute z-10 w-screen max-w-xs px-2 mt-3 transform -translate-x-1/2 left-1/2"
          >
            <div
              class="overflow-hidden shadow-lg rounded-2xl ring-1 ring-base-200"
            >
              <div
                class="relative px-5 py-6 text-left bg-white grid gap-6 sm:gap-8 sm:p-8"
              >
                <div class="space-y-4">
                  {
                    links.map((link) => (
                      <a href={link.href}>
                        <div class="py-2 group">
                          <p class="text-base font-medium text-[#1f283a] group-hover:text-[#3e4960]  ">
                            {link.title}
                          </p>
                          <p class="mt-1 text-sm text-[#626b82]">
                            {link.description}
                          </p>
                        </div>
                      </a>
                    ))
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
