---
// Assets
import Logo from "@/components/assets/Logo.astro";
// Fundatons
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const footerLinks = [
  {
    heading: "Navigation",
    links: [{ label: "All tutorials", href: "/" }],
  },

  {
    heading: "Socials",
    links: [
      {
        label: "@lexingtonthemes",
        href: "https://twitter.com/lexingtonthemes",
      },
      {
        label: "@Mike_Andreuzza",
        href: "https://twitter.com/Mike_Andreuzza",
      },
    ],
  },
];
---

<footer class="border-t border-dashed border-base-200">
  <Wrapper variant="standard" class="py-12 pb-24">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="text-black">
        <a href="/" class="flex items-center text-lg gap-2">
          <span class="sr-only">Go to homepage</span>
          <Logo class="h-4 text-base-900" />
          Lexington Themes
        </a>
        <p class="mt-1 text-sm  text-base-500 text-balance">
          Premium multipage themes crafted with Astro and Tailwind CSS
        </p>
      </div>
      <div class="md:grid md:grid-cols-2 md:gap-8 xl:col-span-2">
        {
          footerLinks.map((section) => (
            <div class="mt-12 md:mt-0">
              <h3 class="text-black font-display">{section.heading}</h3>
              <ul role="list" class="mt-4 text-sm space-y-2 text-base-500">
                {section.links.map((link) => (
                  <li>
                    <a
                      title="Button to your page"
                      aria-label="your label"
                      href={link.href}
                      class="hover:text-black"
                    >
                      {link.label}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </Wrapper>
</footer>
